﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMSPortal - @ViewData["Title"]</title>
    <link rel="icon" href="/images/niemslogo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NiemsEBudget.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" />

    @* <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@
    <script src="~/sweet2/sweetalert2.js"></script>

    @* <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> *@
    <link href="~/select2/select2.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.rtl.min.css" />
    
    @* <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> *@
    <link rel="stylesheet" type="text/css" href="~/dp/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/icheck-bootstrap/3.0.1/icheck-bootstrap.min.css" integrity="sha512-8vq2g5nHE062j3xor4XxPeZiPjmRDh6wlufQlfC6pdQ/9urJkU07NM0tEREeymP++NczacJ/Q59ul+/K2eYvcg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="text-sm">
    <header>
        @await Html.PartialAsync("_MainMenuPartial")
    </header>
    @await Html.PartialAsync("_MainSideBarPartial")
    <div class="min-vh-100 content-wrapper">
        <main role="main" class="pb-3 container-fluid">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top text-muted main-footer">
        <div class="container">
            &copy; 2023 - EMSPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js" integrity="sha512-2bMhOkE/ACz21dJT8zBOMgMecNxx0d37NND803ExktKiKdSzdwn+L7i9fdccw/3V06gM/DBWKbYmQvKMdAA9Nw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script> *@
    <script src="~/select2/select2.full.min.js"></script>

    @* <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script> *@
    <script type="text/javascript" src="~/dp/moment.min.js"></script>
    @* <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script> *@
    <script type="text/javascript" src="~/dp/daterangepicker.js"></script>

    <script type="text/javascript">
        //on load => set 1st menu on focus
        var MainsidebarMenuEle = document.getElementsByName('msbar');
        var sidebarMenuEle = document.getElementsByName('sbar');
        var pageName = window.location.pathname;

        
        if (pageName.includes('index') || pageName.includes('Index') || pageName == '/') {
            sidebarMenuEle[0].classList.add('active');
            MainsidebarMenuEle[0].classList.add('menu-open');
        }
        else if (pageName.includes('duplicate') || pageName.includes('Duplicate')) {
            sidebarMenuEle[1].classList.add('active');
            MainsidebarMenuEle[0].classList.add('menu-open');
        }
        else if (pageName.includes('payment') || pageName.includes('Payment')) {
            sidebarMenuEle[2].classList.add('active');
            MainsidebarMenuEle[1].classList.add('menu-open');
        }
        else if (pageName.includes('paid') || pageName.includes('Paid')) {
            sidebarMenuEle[3].classList.add('active');
            MainsidebarMenuEle[1].classList.add('menu-open');
        }
        else if (pageName.includes('document') || pageName.includes('Document')) {
            sidebarMenuEle[4].classList.add('active');
        }
        else if (pageName.includes('publish') || pageName.includes('Publish')) {
            sidebarMenuEle[5].classList.add('active');
            // MainsidebarMenuEle[2].classList.add('menu-open');
        }
        else if (pageName.includes('account') || pageName.includes('Account')) {
            sidebarMenuEle[6].classList.add('active');
            MainsidebarMenuEle[2].classList.add('menu-open');
        }
        else if (pageName.includes('department') || pageName.includes('Department')) {
            sidebarMenuEle[7].classList.add('active');
            MainsidebarMenuEle[2].classList.add('menu-open');
        }

        
    </script>

    <!-- use xlsx.full.min.js from version 0.19.2 -->
    @*<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-0.19.2/package/dist/xlsx.full.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
<div id="spn-load" class="w-100 h-100 top-0 justify-content-center position-fixed bg-dark opacity-50 d-none" style="z-index:9999;">
    <div class="arrow-down top-50"></div>
</div>
<div id="spn" class="w-100 h-100 top-0 justify-content-center position-fixed bg-dark opacity-50 d-none" style="z-index:9999;">
    <div class="main-spn top-50">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
</html>
