﻿
@{
}
<nav class="main-header navbar navbar-expand navbar-dark navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav d-flex justify-content-between w-100">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profile" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span id="userName">User Name</span>
                <img src="/images/avatar.png" class="img-circle elevation-2 ms-2" alt="User Image" width="18" height="18">
            </a>
            <div id="profileMenu" class="dropdown-menu dropdown-menu-end" aria-labelledby="profile">

            </div>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    
</nav>
