﻿<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Home/Index" class="brand-link">
        <img src="/images/niemslogo.png" alt="Niems Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">E-Budget</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-compact" data-widget="treeview" role="menu">
                <li class="nav-item" name="msbar">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-hourglass-half"></i>
                        <p>
                            ค้างจ่าย
                            @* <span class="right badge badge-danger">New</span> *@
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Home/Index" class="nav-link" name="sbar">
                                <i class="navbar-toggler-icon fas fa-hourglass-half"></i>
                                <p>ค้างจ่าย</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/DuplicateCheck" class="nav-link" name="sbar">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    รายการซ้ำ
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item" name="msbar">
                    <a href="#" class="nav-link @*disabled*@">
                        <i class="nav-icon fas fa-list"></i>
                        <p>
                            การทำจ่าย
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Home/Payment" class="nav-link @*disabled*@" name="sbar">
                                <i class="nav-icon fas fa-list"></i>
                                <p>
                                    การทำจ่าย
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Paid" class="nav-link @*disabled*@" name="sbar">
                                <i class="nav-icon fas fa-receipt"></i>
                                <p>
                                    จ่ายแล้ว
                                </p>
                            </a>
                        </li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Home/Document" class="nav-link @*disabled*@" name="sbar">
                        <i class="nav-icon fas fa-file-contract"></i>
                        <p>
                            เอกสารรายการจ่าย
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Home/PublishDepartment" class="nav-link @*disabled*@" name="sbar">
                        <i class="nav-icon fas fa-money-bill-transfer"></i>
                        <p>
                            แจ้งเผยแพร่เอกสารการโอนเงิน
                        </p>
                    </a>
                </li>
                <li class="nav-item" name="msbar">
                    <a href="#" class="nav-link @*disabled*@">
                        <i class="nav-icon fas fa-bars-progress"></i>
                        <p>
                            จัดการข้อมูล
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        </li>
                        <li class="nav-item">
                            <a href="/Home/AccountManagement" class="nav-link" name="sbar">
                                <i class="nav-icon fas fa-money-check"></i>
                                <p>
                                    จัดการข้อมูลทางบัญชี
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/DepartmentDoc" class="nav-link" name="sbar">
                                <i class="nav-icon fas fa-file-contract"></i>
                                <p>
                                    จัดการเอกสารการโอนเงิน
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
