﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMSPortal - @ViewData["Title"]</title>
    @await Html.PartialAsync("_HeaderScriptPartial")
    
</head>
<body class="bg-secondary">
    @RenderBody()
    

    @await Html.PartialAsync("_FooterScriptPartial")
    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
