﻿@model NiemsEBudget.Models.LoginData;
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMSPortal - Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Login</title>
    <link rel="icon" href="/images/niemslogo.png" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/images/niemslogo.png" width="70" /> <br />ระบบเบิกจ่ายค่าตอบแทน
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">เข้าสู่ระบบเพื่อเริ่มใช้งาน</p>
                <form method="post">
                    <div class="input-group mb-3">
                        @*<input type="email" class="form-control" placeholder="ชื่อผู้ใช้">*@
                        
                        @Html.TextBoxFor(m => m.username , new{name = "username",@class="form-control",placeholder="ชื่อผู้ใช้", required="true"})
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @*<input type="password" class="form-control" placeholder="รหัสผ่าน">*@
                        @Html.TextBoxFor(m => m.password , new{name = "password", type= "password",@class="form-control",placeholder="รหัสผ่าน",required="true"})
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">เข้าสู่ระบบ</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var msg = '@ViewBag.Message';
            if (msg != "") {
                Swal.fire({
                    title: msg,
                    icon: 'error',
                    showConfirmButton: true,
                    ConfirmButtonText: 'ตกลง'
                }).then(() => {
                    $('#password').val('');
                });
            }
        });
    </script>
</body>
</html>