﻿@{
    ViewData["Title"] = "E-Budget - Account Management";
}
<div id="payable" class="pt-3 min-vh-100">
    <h3>การจัดการข้อมูลบัญชีหน่วยปฏิบัติการ</h3>
    <button class="btn btn-primary my-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
        กรอกข้อมูลเพื่อค้นหา
    </button>
    <div id="collapseSearch" class="card card-success collapse show @*collapsed-card*@">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>จังหวัด</label>
                        <select id="province" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>หน่วยงาน</label>
                        <select id="department" class="form-select form-select-sm select2" disabled="disabled">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <button id="btnSearch" class="btn btn-primary disabled">แสดงข้อมูลค้นหา</button>
                </div>
            </div>
        </div>
    </div>
    <div id="searchContent" class="card card-outline card-primary d-none">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>รหัสหน่วย(Items)</label>
                        <input id="departmentCode" class="form-control" readonly="readonly" />
                        <input type="hidden" id="departmentId" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อหน่วย(Items)</label>
                        <input id="departmentName" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ตำแหน่งส่งจดหมาย</label>
                        <input id="mailPosition" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อหน่วย(ชื่อจริง)</label>
                        <input id="payDepartmentName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ระยะทาง(มากกว่า 10km)</label>
                        <input id="distanceKM" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>อัตราจ่ายค่าระยะทาง</label>
                        <input id="distancePayrate" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อ-สกุลผู้บริหาร</label>
                        <input id="signFullname" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>เบอร์โทรผู้บริหาร</label>
                        <input id="signTelNo" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อ-สกุลผู้ประสาน</label>
                        <input id="contactFullname" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>เบอร์โทรผู้ประสาน</label>
                        <input id="contactTelNo" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>FAX</label>
                        <input id="fax" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>Email</label>
                        <input id="email" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อธนาคาร</label>
                        @* <input id="bankName" class="form-control" /> *@
                        <select id="bankName" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>สาขาธนาคาร</label>
                        <input id="bankBranch" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อบัญชี</label>
                        <input id="accountName" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ประเภทบัญชี</label>
                        @* <input id="accountTypeName" class="form-control" /> *@
                        <select id="accountTypeName" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>เลขบัญชี</label>
                        <input id="accountNo" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>เลขประจำตัวผู้เสียภาษี</label>
                        <input id="taxPayID" class="form-control" />
                    </div>
                </div>
                <div class="col-6">
                    <label>ประเภทการจ่าย</label><br />
                    <div class="form-group d-flex justify-content-between flex-wrap">
                        <div class="icheck-primary d-inline mt-1">
                            <input type="checkbox" id="is_Province_Direct_Pay" name="pType" data-statusID="1" />
                            <label for="is_Province_Direct_Pay">จ.จ่ายตรง</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="checkbox" id="is_Department_Direct_Pay" name="pType" data-statusID="2" />
                            <label for="is_Department_Direct_Pay">หน่วยจ่ายตรง</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="checkbox" id="is_With_Holding_Tax" name="pType" data-statusID="3" />
                            <label for="is_With_Holding_Tax">หักภาษี</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="checkbox" id="is_Coorperate_Transfer" name="pType" data-statusID="4" />
                            <label for="is_Coorperate_Transfer">รับผ่าน corperate</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button id="btnSaveData" class="btn btn-primary mx-1 disabled"><i class="fa fa-save pr-2"></i>บันทึกข้อมูล</button>
                    <button id="btnResetData" class="btn btn-warning mx-1"><i class="fa-solid fa-arrows-rotate pr-2"></i>ล้างการแก้ไข</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/th.min.js" integrity="sha512-IiSJKJyOVydT9/jfVcnpg7PIUM41Be6YzR5bTiAEAEQxTVtnUhbhiSNtgGXmOTFoxYpYs+LdxWlELOK7iRVVBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.post('/Home/CheckToken', function (res) {
                    if (res.message != 'success') {
                        Swal.fire({
                            title: 'Token หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง',
                            text: '',
                            showConfirmButton: true,
                            confirmButtonText: 'ตกลง',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        }).then(() => {
                            location.href = '/Authen/Login';
                        });
                    }
                    else {
                        console.log('Token Expanded : ' + res.message);
                    }

                });
            }, 600000);

            $('#province').on('change', () => {
                var selectedProvince = $('#province').val();
                if (selectedProvince != "0") {
                    $('#department').removeAttr('disabled');
                    GetDepartmentList(selectedProvince);
                }
                else {
                    $('#department').attr('disabled', 'disabled');
                    $('#department').html('');
                }
            });

            $('#department').on('change', () => {
                $('#btnSearch').removeClass('disabled');
            });

            $('.select2').select2({
                theme: 'bootstrap-5'
            });

            var IsDataChange = false;

            GetProvince();
            Getprofile();

            $('#btnSearch').on('click',async () => {
                //AddSpinner();
                $('#searchContent').removeClass('d-none');
                var getDep = await GetDepartmentPaymentInfo();
                if (getDep == 'success') {
                    var searchContentInput = document.getElementById('searchContent').getElementsByTagName('input');
                    $.each(searchContentInput, (i, sc) => {
                        sc.addEventListener('input', () => {
                            IsDataChange = true;
                            $('#btnSaveData').removeClass('disabled');
                            // console.log('input');
                        });
                    });
                    $('#bankName').on('change', () => {
                        IsDataChange = true;
                        $('#btnSaveData').removeClass('disabled');
                        // console.log('bankName');
                    });
                    $('#accountTypeName').on('change', () => {
                        IsDataChange = true;
                        $('#btnSaveData').removeClass('disabled');
                        // console.log("accountTypeName");
                    });

                    var paidType = document.getElementsByName('pType');
                    $.each(paidType, (i, pt) => {
                        pt.addEventListener('click', () => {
                            if (pt.hasAttribute('checked')) {
                                pt.removeAttribute('checked');
                            }
                            else {
                                pt.setAttribute('checked', 'checked');
                            }
                            IsDataChange = true;
                            $('#btnSaveData').removeClass('disabled');
                            // console.log('ptype');
                        });
                    });
                }
                
            });

            $('#btnResetData').on('click', () => {
                GetDepartmentPaymentInfo();
            });

            $('#btnSaveData').on('click', () => {
                var withHoldingTax = document.getElementById('is_With_Holding_Tax');

                if (withHoldingTax.checked == true) {
                    if ($('#taxPayID').val() == '') {
                        alert('กรุณากรอกเลขประจำตัวผู้เสียภาษี!');
                    }
                    else {
                        SetDepartmentPaymentInfo();
                    }
                }
                else {
                    SetDepartmentPaymentInfo();
                }
                
            });
        });
        async function GetProvince() {
            $.post('/Home/Getprovince', (res) => {
                var pvOptions = '<option value="0">--ทั้งหมด--</option>';
                $.each(res.result, (i, pv) => {
                    pvOptions += '<option value="' + pv.id + '">[' + pv.code + '] ' + pv.name + '</option>';
                });

                $('#province').html(pvOptions);
            });
            return Promise.resolve('success');
        }

        function Getprofile() {
            //AddSpinner();
            $.post('/Home/GetProfile', (res) => {
                var profileMenu = '<span class="dropdown-item"><i class="fa fa-solid fa-location-dot"></i> ' + res.result.department_Province_Str + '</span>' +
                    '<span class="dropdown-item"><i class="fa fa-solid fa-house-user"></i> ' + res.result.department_Str + '</span>' +
                    '<div class="dropdown-divider"></div><a class="dropdown-item btn btn-danger" href="/Authen/Logout"><i class="fa fa-solid fa-power-off"></i> Logout</a>';

                $('#userName').html(res.result.title + ' ' + res.result.firstName + ' ' + res.result.lastName);
                $('#profileMenu').html(profileMenu);
                //console.log(res);

            }).then(() => {
                setTimeout(() => {
                    //RemoveSpinner();
                }, 500);
            });
        }

        async function GetDepartmentList(sPorvinceId) {
            $.post('/Home/GetDepartmentList', { province_id: sPorvinceId, vehicle_LevelID: null, vehicle_TypeID: null }, (res) => {
                var deptOptions = '<option value="00">--ทั้งหมด--</option>';
                $.each(res.result, (i, dept) => {
                    deptOptions += '<option value="' + dept.id + '">' + dept.name + ' (/' + dept.hcode + '/) [' + dept.code + ']</option>';
                });
                $('#department').html(deptOptions);
            });
            return Promise.resolve('success');
        }
        async function GetDepartmentPaymentInfo() {
            var departmentId = $('#department').val();
            
            $.post('/Home/GetDepartmentPaymentInfo', { departmentId: departmentId }, async (res) => { 
                var result = res.result;
                // console.log(result);
                if (await GetAccountBankList(result.bank_ID) == 'success' && await GetAccountTypeList(result.account_Type_ID) == 'success') {
                    $('#accountName').val(result.account_Name);
                    $('#accountNo').val(result.account_No);
                    $('#bankBranch').val(result.bank_Branch);
                    $('#contactFullname').val(result.contact_FullName);
                    $('#contactTelNo').val(result.contact_TelNo);
                    $('#departmentCode').val(result.department_Code);
                    $('#departmentId').val(result.department_ID);
                    $('#departmentName').val(result.department_Name);
                    $('#distanceKM').val(result.distance_KM);
                    $('#distancePayrate').val(result.distance_Payrate);
                    $('#email').val(result.email);
                    $('#fax').val(result.fax);
                    $('#mailPosition').val(result.mail_Position);
                    $('#payDepartmentName').val(result.pay_Department_Name);
                    $('#signFullname').val(result.sign_FullName);
                    $('#signTelNo').val(result.sign_TelNo);
                    $('#taxPayID').val(result.taxPayID);

                    if (result.is_Province_Direct_Pay == 1) {
                        $('#is_Province_Direct_Pay').attr('checked', 'checked');
                    }
                    else {
                        $('#is_Province_Direct_Pay').removeAttr('checked');
                    }
                    if (result.is_Department_Direct_Pay == 1) {
                        $('#is_Department_Direct_Pay').attr('checked', 'checked');
                    }
                    else {
                        $('#is_Department_Direct_Pay').removeAttr('checked');
                    }
                    if (result.is_With_Holding_Tax == 1) {
                        $('#is_With_Holding_Tax').attr('checked', 'checked');
                    }
                    else {
                        $('#is_With_Holding_Tax').removeAttr('checked');
                    }
                    if (result.is_Coorperate_Transfer == 1) {
                        $('#is_Coorperate_Transfer').attr('checked', 'checked');
                    }
                    else {
                        $('#is_Coorperate_Transfer').removeAttr('checked');
                    }
                }
                // $('#is_Province_Direct_Pay').iCheck('update');
                // $('#is_Department_Direct_Pay').iCheck('update');
                // $('#is_With_Holding_Tax').iCheck('update');
                // $('#is_Coorperate_Transfer').iCheck('update');

                // var paidType = document.getElementsByName('pType');
                // $.each(paidType, (i, pt) => {
                //     pt.iCheck('update');
                // });
            });
            return Promise.resolve('success');
        }

        function SetDepartmentPaymentInfo(){
            var department_ID, mail_Position, pay_Department_Name, distance_KM, distance_Payrate, sign_FullName, sign_TelNo, contact_FullName, contact_TelNo,
                fax, email, bank_ID, bank_Branch, account_Name, account_Type_ID, account_No, taxPayID, is_Province_Direct_Pay, is_Department_Direct_Pay,
                is_With_Holding_Tax, is_Coorperate_Transfer;

            department_ID = $('#departmentId').val();
            mail_Position = $('#mailPosition').val();
            pay_Department_Name = $('#payDepartmentName').val();
            distance_KM = $('#distanceKM').val();
            distance_Payrate = $('#distancePayrate').val();
            sign_FullName = $('#signFullname').val();
            sign_TelNo = $('#signTelNo').val();
            contact_FullName = $('#contactFullname').val();
            contact_TelNo = $('#contactTelNo').val();
            fax = $('#fax').val();
            email = $('#email').val();
            bank_ID = $('#bankName').val();
            bank_Branch = $('#bankBranch').val();
            account_Name = $('#accountName').val();
            account_Type_ID = $('#accountTypeName').val();
            account_No = $('#accountNo').val();
            taxPayID = $('#taxPayID').val();

            var paidType = document.getElementsByName('pType');
            var checkResult = [];
            $.each(paidType, async (i, pt) => {
                if (pt.hasAttribute('checked')) {
                    await checkResult.push(1);
                }
                else {
                    await checkResult.push(0);
                }
            });

            is_Province_Direct_Pay = checkResult[0];
            is_Department_Direct_Pay = checkResult[1];
            is_With_Holding_Tax = checkResult[2];
            is_Coorperate_Transfer = checkResult[3];

            var jsonData = '{"department_ID": ' + department_ID + ',' +
                '"mail_Position":"' + mail_Position + '",' +
                '"pay_Department_Name":"' + pay_Department_Name + '",' +
                '"distance_KM":' + distance_KM + ',' +
                '"distance_Payrate":' + distance_Payrate + ',' +
                '"sign_FullName":"' + sign_FullName + '",' +
                '"sign_TelNo":"' + sign_TelNo + '",' +
                '"contact_FullName":"' + contact_FullName + '",' +
                '"contact_TelNo":"' + contact_TelNo + '",' +
                '"fax":"' + fax + '",' +
                '"email":"' + email + '",' +
                '"bank_ID":' + bank_ID + ', ' +
                '"bank_Branch":"' + bank_Branch + '",' +
                '"account_Name":"' + account_Name + '",' +
                '"account_Type_ID":' + account_Type_ID + ',' +
                '"account_No":"' + account_No + '",' +
                '"taxPayID":"' + taxPayID + '",' +
                '"is_Province_Direct_Pay":' + is_Province_Direct_Pay + ',' +
                '"is_Department_Direct_Pay":' + is_Department_Direct_Pay + ',' +
                '"is_With_Holding_Tax":' + is_With_Holding_Tax + ',' +
                '"is_Coorperate_Transfer":' + is_Coorperate_Transfer +
                '}';

            $.post('/Home/SetDepartmentPaymentInfo', { JsonData: jsonData }, (res) => {
                var result = res.callAPIStatus;
                if (result) {
                    Swal.fire({
                        title: 'บันทึกข้อมูลสำเร็จ',
                        text: '',
                        showConfirmButton: true,
                        confirmButtonText: 'ตกลง',
                    }).then(() => {
                        window.location = '/Home/AccountManagement';
                    });
                }
                else {
                    Swal.fire({
                        title: 'เกิดข้อผิดพลาด',
                        text: '',
                        showConfirmButton: true,
                        confirmButtonText: 'ตกลง',
                    });
                }
            });

        }

        async function GetAccountTypeList(selected) {
            $.post('/Home/GetAccountTypeList', (res) => {

                var options = '<option value="">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.id + '">' + res.name + '</option>';
                });

                $('#accountTypeName').html(options);
                
                if(selected != null){
                    $('#accountTypeName').select2().val(selected).trigger('change');
                }
            });
            return Promise.resolve('success');
        }
        async function GetAccountBankList(selected) {
            $.post('/Home/GetAccountBankList', (res) => {

                var options = '<option value="">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.id + '">' + res.name + '</option>';
                });
                $('#bankName').html(options);

                if (selected != null) {
                    $('#bankName').select2().val(selected).trigger('change');
                }
            });
            return Promise.resolve('success');
        }

    </script>
}