﻿@{
    ViewData["Title"] = "E-Budget - Department Document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pt-3 min-vh-100">
    <h3>การจัดการเอกสารการโอนเงิน</h3>
    <div class="card card-outline card-success">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>จังหวัด</label>
                        <select id="province" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>หน่วย</label>
                        <select id="department" class="form-select form-select-sm select2" disabled>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>คำค้น</label>
                        <input id="keyword" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button id="btnSearch" class="btn btn-primary">แสดงข้อมูลค้นหา</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card card-outline card-primary w-100">
                <div class="card-body">
                    <table id="tbDocInfo" class="table table-bordered table-striped dtr-inline w-100">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>ชื่อ</th>
                                <th class="text-center">จำนวนหน่วยงาน</th>
                                <th class="text-center">การจัดการ</th>
                            </tr>
                        </thead>
                        <tbody id="tbDocInfoBody">
                        </tbody>
                    </table>
                    <button id="btnAddNewDoc" class="btn btn-success mt-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDocInfo" aria-controls="offcanvasDocInfo"><i class="fa-solid fa-file-circle-plus"></i> เพิ่มเอกสารใหม่</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div id="docInfoContent" class="card card-outline card-primary w-100 d-none">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label>ชื่อเอกสาร</label>
                                <input id="docName" class="form-control" readonly />
                                <input id="docInfoId" class="form-control" hidden />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ตำแหน่งส่งเอกสาร</label>
                                <input id="docTo" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>เลขที่บัญชี</label>
                                <input id="accountNo" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อบัญชี</label>
                                <input id="accountName" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อธนาคาร</label>
                                <input id="bankName" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>ประเภทการจ่าย</label><br />
                            <div class="form-group d-flex justify-content-left flex-wrap">
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="is_Province_Direct_Pay" name="pType" data-statusID="1" disabled />
                                    <label for="is_Province_Direct_Pay">จ.จ่ายตรง</label>
                                </div>
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="is_Department_Direct_Pay" name="pType" data-statusID="2" disabled />
                                    <label for="is_Department_Direct_Pay">หน่วยจ่ายตรง</label>
                                </div>
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="is_With_Holding_Tax" name="pType" data-statusID="3" disabled />
                                    <label for="is_With_Holding_Tax">หักภาษี</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>ผู้เสียภาษี</label>
                                <input id="taxPayTo" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>เลขประจำตัวผู้เสียภาษี</label>
                                <input id="taxPayPID" class="form-control" readonly />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ที่อยู่ผู้เสียภาษี</label>
                                <input id="taxPayAddress" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>จำนวนหน่วยงาน</label>
                                <input id="departmentCount" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <hr class="border-0" />
                    <div class="row">
                        <label>การจัดการ</label>
                        <div class="col">
                            <button id="btnEditDocInfo" class="btn btn-warning" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEditDocInfo" aria-controls="offcanvasEditDocInfo"><i class="fa-solid fa-edit"></i> แก้ไขข้อมูลเอกสาร</button>
                            <button id="btnDeleteDocInfo" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> ลบเอกสาร</button>
                            <button id="btnShowDepartmentListInDocInfo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasShowDepartmentDocInfo" aria-controls="offcanvasShowDepartmentDocInfo" class="btn btn-info"><i class="fa-solid fa-eye"></i> ดูรายการหน่วยงาน</button>
                            <button id="btnAddDepartmentListToDocInfo" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddDepartmentDocInfo" aria-controls="offcanvasShowDepartmentDocInfo" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> เพิ่มหน่วยงาน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #region offcanvasDocInfo -->
    <div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasDocInfo" aria-labelledby="offcanvasTitle">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasTitle">เพิ่มเอกสารใหม่</h5>
            <button id="btnOffcanvasClose" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อเอกสาร</label>
                                <input id="of_doc_docName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ตำแหน่งส่งเอกสาร</label>
                                <input id="of_doc_docTo" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>เลขที่บัญชี</label>
                                <input id="of_doc_accountNo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อบัญชี</label>
                                <input id="of_doc_accountName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อธนาคาร</label>
                                <select id="of_doc_bankName" class="form-select form-select-sm select2">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>ประเภทการจ่าย</label><br />
                            <div class="form-group d-flex justify-content-left flex-wrap">
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="of_doc_is_Province_Direct_Pay" name="of_pType" data-statusid="of_doc_1" />
                                    <label for="of_doc_is_Province_Direct_Pay">จ.จ่ายตรง</label>
                                </div>
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="of_doc_is_Department_Direct_Pay" name="of_pType" data-statusid="of_doc_2" />
                                    <label for="of_doc_is_Department_Direct_Pay">หน่วยจ่ายตรง</label>
                                </div>
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="of_doc_is_With_Holding_Tax" name="of_pType" data-statusid="of_doc_3" />
                                    <label for="of_doc_is_With_Holding_Tax">หักภาษี</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>ผู้เสียภาษี</label>
                                <input id="of_doc_taxPayTo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>เลขประจำตัวผู้เสียภาษี</label>
                                <input id="of_doc_taxPayPID" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ที่อยู่ผู้เสียภาษี</label>
                                <input id="of_doc_taxPayAddress" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button id="of_doc_btnSave" class="btn btn-success">บันทึก</button>
                            <button id="of_doc_btnClear" class="btn btn-secondary">ล้างข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region offcanvasEditDocInfo -->
    <div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvasEditDocInfo" aria-labelledby="offcanvasTitle">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasTitle">แก้ไขข้อมูลเอกสาร</h5>
            <button id="btnEditOffcanvasClose" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อเอกสาร</label>
                                <input id="of_doc_edit_docName" class="form-control" />
                                <input id="of_doc_edit_docId" class="form-control" hidden />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ตำแหน่งส่งเอกสาร</label>
                                <input id="of_doc_edit_docTo" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>เลขที่บัญชี</label>
                                <input id="of_doc_edit_accountNo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อบัญชี</label>
                                <input id="of_doc_edit_accountName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ชื่อธนาคาร</label>
                                <select id="of_doc_edit_bankName" class="form-select form-select-sm select2">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>ประเภทการจ่าย</label><br />
                            <div class="form-group d-flex justify-content-left flex-wrap">
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="of_doc_edit_is_Province_Direct_Pay" name="of_edit_pType" data-statusid="of_doc_edit_1" />
                                    <label for="of_doc_edit_is_Province_Direct_Pay">จ.จ่ายตรง</label>
                                </div>
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="of_doc_edit_is_Department_Direct_Pay" name="of_edit_pType" data-statusid="of_doc_edit_2" />
                                    <label for="of_doc_edit_is_Department_Direct_Pay">หน่วยจ่ายตรง</label>
                                </div>
                                <div class="icheck-primary d-inline mt-1">
                                    <input type="checkbox" id="of_doc_edit_is_With_Holding_Tax" name="of_edit_pType" data-statusid="of_doc_edit_3" />
                                    <label for="of_doc_edit_is_With_Holding_Tax">หักภาษี</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>ผู้เสียภาษี</label>
                                <input id="of_doc_edit_taxPayTo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>เลขประจำตัวผู้เสียภาษี</label>
                                <input id="of_doc_edit_taxPayPID" class="form-control" />
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>ที่อยู่ผู้เสียภาษี</label>
                                <input id="of_doc_edit_taxPayAddress" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button id="of_doc_edit_btnSave" class="btn btn-success">บันทึก</button>
                            @* <button id="of_doc_edit_btnClear" class="btn btn-secondary">ล้างข้อมูล</button> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region offcanvasShowDepartmentDocInfo -->
    <div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvasShowDepartmentDocInfo" aria-labelledby="offcanvasTitle">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasTitle">รายการหน่วยงาน</h5>
            <button id="btnShowDepOffcanvasClose" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <table id="tbDepartmentDocInfo" class="table table-bordered table-striped dtr-inline w-100">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th>ชื่อ</th>
                                <th class="text-center">สถานะ</th>
                                <th class="text-center">ลบ</th>
                            </tr>
                        </thead>
                        <tbody id="tbDepartmentDocInfoBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <!-- #region offcanvasAddDepartmentDocInfo -->
    <div class="offcanvas offcanvas-start w-50" tabindex="-1" id="offcanvasAddDepartmentDocInfo" aria-labelledby="offcanvasTitle">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasTitle">เพิ่มหน่วยงาน</h5>
            <button id="btnAddDepOffcanvasClose" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label>จังหวัด</label>
                                <select id="of_add_dep_province" class="form-select form-select-sm select2">
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label>คำค้น</label>
                                <input id="of_add_dep_keyword" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <idv class="col">
                            <button id="of_add_dep_btnSearch" class="btn btn-primary btn-group-sm">แสดงข้อมูลค้นหา</button>
                        </idv>
                    </div>
                </div>
            </div>
            <div class="card card-outline card-primary">
                <div class="card-body">
                    <table id="tbAddDepartmentDocInfo" class="table table-bordered table-striped dtr-inline w-100">
                        <thead>
                            <tr>
                                <th class="text-center">เลือก</th>
                                <th class="text-center">#</th>
                                <th>ชื่อ</th>
                                <th class="text-center">สถานะ</th>
                            </tr>
                        </thead>
                        <tbody id="tbAddDepartmentDocInfoBody">
                        </tbody>
                    </table>
                    <button class="btn btn-primary" id="btnAddDepartments" style="height: 30.6px!important; padding-top: 3px;">เพิ่มหน่วยงาน</button>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->


</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/th.min.js" integrity="sha512-IiSJKJyOVydT9/jfVcnpg7PIUM41Be6YzR5bTiAEAEQxTVtnUhbhiSNtgGXmOTFoxYpYs+LdxWlELOK7iRVVBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.post('/Home/CheckToken', function (res) {
                    if (res.message != 'success') {
                        Swal.fire({
                            title: 'Token หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง',
                            text: '',
                            showConfirmButton: true,
                            confirmButtonText: 'ตกลง',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        }).then(() => {
                            location.href = '/Authen/Login';
                        });
                    }
                    else {
                        console.log('Token Expanded : ' + res.message);
                    }

                });
            }, 600000);

            $('#province').on('change', () => {
                var selectedProvince = $('#province').val();
                if (selectedProvince != null) {
                    $('#department').removeAttr('disabled');
                    GetDepartmentList(selectedProvince);
                }
                else {
                    $('#department').html('');
                }
            });

            GetProvince();
            Getprofile();

            $('.select2').select2({
                theme: 'bootstrap-5'
            });

            $('#btnSearch').on('click', () => {
                GetPaymentDocInfoTable();
            });

            var paidType = document.getElementsByName('of_pType');
            $.each(paidType, (i, pt) => {
                pt.addEventListener('click', () => {
                    if (pt.hasAttribute('checked')) {
                        pt.removeAttribute('checked');
                    }
                    else {
                        pt.setAttribute('checked', 'checked');
                    }
                });
            });

            var editpaidType = document.getElementsByName('of_edit_pType');
            $.each(editpaidType, (i, pt) => {
                pt.addEventListener('click', () => {
                    if (pt.hasAttribute('checked')) {
                        pt.removeAttribute('checked');
                    }
                    else {
                        pt.setAttribute('checked', true);
                    }
                });
            });

            $('#btnAddNewDoc').on('click',()=>{
                $('#of_doc_btnClear').trigger('click');
                GetAccountBankList(null);
            });

            $('#of_doc_btnSave').on('click', () => {
                AddPaymentDocInfo();
            });

            $('#of_doc_btnClear').on('click', () => {
                ClearOffcanvasDocInfo();
            });

            $('#btnEditDocInfo').on('click',()=>{
                var docInfoId = $('#docInfoId').val();
                ShowOfcanvasEditPaymentDocInfo(docInfoId);
            });

            $('#of_doc_edit_btnClear').on('click', () => {
                var docInfoId = $('#docInfoId').val();
                ShowOfcanvasEditPaymentDocInfo(docInfoId);
            });

            $('#of_doc_edit_btnSave').on('click',()=>{
                UpdatePaymentDocInfo();
            });

            $('#btnShowDepartmentListInDocInfo').on('click', () => {
                GetDocInfoDepartmentTable();
            });

            $('#btnDeleteDocInfo').on('click',()=>{
                DeletePaymentDocInfo();
            });

            $('#btnAddDepartmentListToDocInfo').on('click',()=>{
                GetProvinceForPendingDepartment();

                var btnAddDepSearch = document.getElementById('of_add_dep_btnSearch');
                btnAddDepSearch.addEventListener('click', () => {
                    GetPendingDepartmentsForPaymentDocInfoTable();
                });
            });
            
        });

        async function GetProvince() {
            $.post('/Home/Getprovince', (res) => {
                var pvOptions = '<option value="null">--ทั้งหมด--</option>';
                $.each(res.result, (i, pv) => {
                    pvOptions += '<option value="' + pv.id + '">[' + pv.code + '] ' + pv.name + '</option>';
                });

                $('#province').html(pvOptions);
            });
            return Promise.resolve('success');
        }

        function Getprofile() {
            //AddSpinner();
            $.post('/Home/GetProfile', (res) => {
                var profileMenu = '<span class="dropdown-item"><i class="fa fa-solid fa-location-dot"></i> ' + res.result.department_Province_Str + '</span>' +
                    '<span class="dropdown-item"><i class="fa fa-solid fa-house-user"></i> ' + res.result.department_Str + '</span>' +
                    '<div class="dropdown-divider"></div><a class="dropdown-item btn btn-danger" href="/Authen/Logout"><i class="fa fa-solid fa-power-off"></i> Logout</a>';

                $('#userName').html(res.result.title + ' ' + res.result.firstName + ' ' + res.result.lastName);
                $('#profileMenu').html(profileMenu);
                //console.log(res);

            }).then(() => {
                setTimeout(() => {
                    //RemoveSpinner();
                }, 500);
            });
        }

        async function GetDepartmentList(sPorvinceId) {
            $.post('/Home/GetDepartmentList', { province_id: sPorvinceId, vehicle_LevelID: null, vehicle_TypeID: null }, (res) => {
                var deptOptions = '<option value="null">--ทั้งหมด--</option>';
                $.each(res.result, (i, dept) => {
                    deptOptions += '<option value="' + dept.id + '">' + dept.name + ' (/' + dept.hcode + '/) [' + dept.code + ']</option>';
                });
                $('#department').html(deptOptions);
            });
            return Promise.resolve('success');
        }

        async function GetAccountBankList(selected) {
            $.post('/Home/GetAccountBankList', (res) => {

                var options = '<option value="">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.id + '">' + res.name + '</option>';
                });
                $('#of_doc_bankName').html(options);

                if (selected != null) {
                    $('#of_doc_bankName').select2().val(selected).trigger('change');
                }
            });
            return Promise.resolve('success');
        }

        async function GetOfCanvasEditDocAccountBankList(selected) {
            $.post('/Home/GetAccountBankList', (res) => {

                var options = '<option value="">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.id + '">' + res.name + '</option>';
                });
                $('#of_doc_edit_bankName').html(options);

                if (selected != null) {
                    $('#of_doc_edit_bankName').select2().val(selected).trigger('change');
                }
            });
            return Promise.resolve('success');
        }

        function ShowPaymentDocInfo(req) {
            var docInfoContent = document.getElementById('docInfoContent');
            docInfoContent.classList.remove('d-none');

            var docInfoId = req;
            $.post('/Home/GetPaymentDocInfo', { docInfoId: docInfoId }, (res) => {
                var rs = res.result;

                $('#docName').val(rs.name_TH);
                $('#docInfoId').val(rs.docInfo_ID);
                $('#docTo').val(rs.doc_To);
                $('#accountNo').val(rs.account_No);
                $('#accountName').val(rs.account_Name);
                $('#bankName').val(rs.bank_Name);
                $('#taxPayTo').val(rs.taxPay_To);
                $('#taxPayPID').val(rs.taxPay_PID);
                $('#taxPayAddress').val(rs.taxPay_Address);
                $('#departmentCount').val(rs.department_Count);

                var pType = document.getElementsByName('of_pType');
                $.each(pType, (i, pt) => {
                    pt.removeAttribute('checked');
                    pt.checked = false;
                });

                if (rs.is_Province_Direct_Pay == 1) {
                    $('#is_Province_Direct_Pay').attr('checked','checked');
                }
                if (rs.is_Department_Direct_Pay == 1) {
                    $('#is_Department_Direct_Pay').attr('checked', 'checked');
                }
                if (rs.is_With_Holding_Tax == 1) {
                    $('#is_With_Holding_Tax').attr('checked', 'checked');
                }
            });
        }

        function ShowOfcanvasEditPaymentDocInfo(req) {
            var docInfoId = req;
            $.post('/Home/GetPaymentDocInfo', { docInfoId: docInfoId }, (res) => {
                var rs = res.result;

                $('#of_doc_edit_docName').val(rs.name_TH);
                $('#of_doc_edit_docId').val(rs.docInfo_ID);
                $('#of_doc_edit_docTo').val(rs.doc_To);
                $('#of_doc_edit_accountNo').val(rs.account_No);
                $('#of_doc_edit_accountName').val(rs.account_Name);
                // $('#of_doc_edit_bankName').val(rs.bank_Name);

                GetOfCanvasEditDocAccountBankList(rs.bank_ID)

                $('#of_doc_edit_taxPayTo').val(rs.taxPay_To);
                $('#of_doc_edit_taxPayPID').val(rs.taxPay_PID);
                $('#of_doc_edit_taxPayAddress').val(rs.taxPay_Address);
                $('#of_doc_edit_departmentCount').val(rs.department_Count);

                var pType = document.getElementsByName('of_edit_pType');
                $.each(pType, (i, pt) => {
                    pt.removeAttribute('checked');
                });

                if (rs.is_Province_Direct_Pay == 1) {
                    $('#of_doc_edit_is_Province_Direct_Pay').attr('checked', true);
                }
                if (rs.is_Department_Direct_Pay == 1) {
                    $('#of_doc_edit_is_Department_Direct_Pay').attr('checked', true);
                }
                if (rs.is_With_Holding_Tax == 1) {
                    $('#of_doc_edit_is_With_Holding_Tax').attr('checked', true);
                }
            });
        }

        function GetPaymentDocInfoTable() {
            var tableID = '#tbDocInfo';
            var provId, depId, keyword;
            provId = $('#province').val();
            depId = $('#department').val();
            keyword = $('#keyword').val();

            if ($.fn.DataTable.isDataTable(tableID)) {
                $(tableID).DataTable().destroy();
            }

            $(tableID).DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Home/SearchPaymentDocInfo',
                    type: 'POST',
                    data: { 'provinceId': provId, 'departmentId': depId, 'keyword': keyword }
                },
                columns: [
                    { class: 'text-center align-middle' },
                    { class: 'align-middle' },
                    { class: 'text-center align-middle' },
                    { class: 'text-center align-middle' }
                ],
                columnDefs: [
                    {
                        data: null,
                        target: [0],
                        render: (data, type, row) => {
                            return row.search_Result_Index;
                            // return row.result.data.search_Result_Index;
                        }
                    },
                    {
                        data: null,
                        target: [1],
                        render: (data, type, row) => {
                            return row.name_TH;
                        }
                    },
                    {
                        data: null,
                        target: [2],
                        render: (data, type, row) => {
                            return row.department_Count;
                        }
                    },
                    {
                        data: null,
                        target: [3],
                        render: (data, type, row) => {
                            return '<button id="' + row.docInfo_ID + '" class="btn btn-outline-info" onclick="ShowPaymentDocInfo(this.id)"><i class="fa-solid fa-edit"></i></button>';
                        }
                    },
                ],
                language: {
                    lengthMenu: 'แสดงผลครั้งละ _MENU_ รายการ',
                    zeroRecords: 'ไม่พบข้อมูลจากการค้นหา',
                    info: '',
                    infoFiltered: '<span class="quickApproveTable_info_filtered_span">(จากข้อมูลทั้งหมด _MAX_ รายการ)</span>',
                    search: 'ค้นหา',
                    paginate: {
                        next: 'ต่อไป',
                        previous: 'ย้อนกลับ'
                    },
                    //loadingRecords: 'Please wait - loading...',
                    //processing: '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>'
                    processing: '<div id="spn" class="w-100 h-100 top-0 end-0 justify-content-center position-fixed bg-dark opacity-50" style="z-index:9999;">' +
                        '<div class="main-spn top-50"><div></div><div></div><div></div><div></div></div></div>'
                },
                "lengthMenu": [
                    [5, 10], [5, 10]
                ],
                searching: false
            });

            return Promise.resolve("Success");
        }

        function GetDocInfoDepartmentTable() {
            var tableID = '#tbDepartmentDocInfo';
            var docInfoId = $('#docInfoId').val();

            if ($.fn.DataTable.isDataTable(tableID)) {
                $(tableID).DataTable().destroy();
            }

            $(tableID).DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Home/GetPaymentDocDepartmentList',
                    type: 'POST',
                    data: { 'docInfoId': docInfoId }
                },
                columns: [
                    { class: 'text-center align-middle' },
                    { class: 'align-middle' },
                    { class: 'text-center align-middle' },
                    { class: 'text-center align-middle' }
                ],
                columnDefs: [
                    {
                        data: null,
                        target: [0],
                        render: (data, type, row) => {
                            return row.search_Result_Index;
                        }
                    },
                    {
                        data: null,
                        target: [1],
                        render: (data, type, row) => {
                            return '[' + row.department_Code + '] ' + row.department_Name;
                        }
                    },
                    {
                        data: null,
                        target: [2],
                        render: (data, type, row) => {
                            var retStr = '';
                            if (row.is_Department_Enable == 1) {
                                retStr = '<span class="custom-badge-success">ปฏิบัติงาน</span>';
                            }
                            else {
                                retStr = '<span class="custom-badge-danger">หยุด</span>';
                            }
                            return retStr;
                        }
                    },
                    {
                        data: null,
                        target: [3],
                        render: (data, type, row) => {
                            return '<button id="' + row.record_Id + '" class="btn btn-outline-warning" data-depName="' + row.department_Name + '" onclick="DeleteDepartmentFromDocInfo(this.id,this)"><i class="fa-solid fa-trash-can"></i></button>';
                        }
                    }
                ],
                language: {
                    lengthMenu: 'แสดงผลครั้งละ _MENU_ รายการ',
                    zeroRecords: 'ไม่พบข้อมูลจากการค้นหา',
                    info: '',
                    infoFiltered: '<span class="quickApproveTable_info_filtered_span">(จากข้อมูลทั้งหมด _MAX_ รายการ)</span>',
                    search: 'ค้นหา',
                    paginate: {
                        next: 'ต่อไป',
                        previous: 'ย้อนกลับ'
                    },
                    //loadingRecords: 'Please wait - loading...',
                    //processing: '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>'
                    processing: '<div id="spn" class="w-100 h-100 top-0 end-0 justify-content-center position-fixed bg-dark opacity-50" style="z-index:9999;">' +
                        '<div class="main-spn top-50"><div></div><div></div><div></div><div></div></div></div>'
                },
                "lengthMenu": [
                    [5, 10], [5, 10]
                ],
                searching: false
            });

        }

        async function AddPaymentDocInfo() {
            var name_TH, name_EN, doc_To,
                account_No, account_Name, bank_ID, is_Province_Direct_Pay,
                is_Department_Direct_Pay, is_With_Holding_Tax, taxPay_To, taxPay_PID,
                taxPay_Address, department_Count;


            name_TH = $('#of_doc_docName').val();
            name_EN  = null;
            doc_To = $('#of_doc_docTo').val();
            account_No = $('#of_doc_accountNo').val();
            account_Name = $('#of_doc_accountName').val();
            bank_ID = $('#of_doc_bankName').val();

            var pType = document.getElementsByName('of_pType');
            var checkResult = [];
            $.each(pType, async (i, pt) => {
                if (pt.hasAttribute('checked')) {
                    await checkResult.push(1);
                }
                else {
                    await checkResult.push(0);
                }
            });

            is_Province_Direct_Pay = checkResult[0];
            is_Department_Direct_Pay = checkResult[1];
            is_With_Holding_Tax = checkResult[2];

            taxPay_To = $('#of_doc_taxPayTo').val();
            taxPay_PID = $('#of_doc_taxPayPID').val();
            taxPay_Address = $('#of_doc_taxPayAddress').val();

            var jsonData = '{' +
                '"name_TH": "' + name_TH + '",' +
                '"name_EN": "' + name_EN + '",' +
                '"doc_To": "' + doc_To + '",' +
                '"account_No": "' + account_No + '",' +
                '"account_Name": "' + account_Name + '",' +
                '"bank_ID": ' + bank_ID + ',' +
                '"is_Province_Direct_Pay": ' + is_Province_Direct_Pay + ',' +
                '"is_Department_Direct_Pay": ' + is_Department_Direct_Pay + ',' +
                '"is_With_Holding_Tax": ' + is_With_Holding_Tax + ',' +
                '"taxPay_To": "' + taxPay_To + '",' +
                '"taxPay_PID": "' + taxPay_PID + '",' +
                '"taxPay_Address": "' + taxPay_Address + '"}';

            // console.log(jsonData);

            Swal.fire({
                title: 'ยืนยันการเพิ่มเอกสารใหม่',
                text: '',
                showConfirmButton: true,
                confirmButtonText: 'ตกลง',
                showCancelButton:true,
                cancelButtonText: 'ยกเลิก'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('/Home/AddPaymentDocInfo', { jsonData: jsonData },(res)=>{
                        if (res.callAPIStatus) {
                            Swal.fire({
                                title: 'เพิ่มเอกสารใหม่สำเร็จ',
                                text: '',
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง',
                            }).then(() => {
                                $('#btnSearch').trigger('click');
                                $('#btnOffcanvasClose').trigger('click');
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'มีบางอย่างผิดพลาด',
                                text: res.callAPIStatusText,
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง',
                            });
                        }
                    });
                    var docInfoContent = document.getElementById('docInfoContent');
                    docInfoContent.classList.add('d-none');
                }
            });

            return Promise.resolve('success');
        }

        function UpdatePaymentDocInfo() {
            var docInfo_ID = $('#of_doc_edit_docId').val();
            var name_TH, name_EN, doc_To,
                account_No, account_Name, bank_ID, is_Province_Direct_Pay,
                is_Department_Direct_Pay, is_With_Holding_Tax, taxPay_To, taxPay_PID,
                taxPay_Address;

            name_TH = $('#of_doc_edit_docName').val();
            name_EN = null;
            doc_To = $('#of_doc_edit_docTo').val();
            account_No = $('#of_doc_edit_accountNo').val();
            account_Name = $('#of_doc_edit_accountName').val();
            bank_ID = $('#of_doc_edit_bankName').val();

            var pType = document.getElementsByName('of_edit_pType');
            var checkResult = [];
            $.each(pType, async (i, pt) => {
                if (pt.hasAttribute('checked')) {
                    await checkResult.push(1);
                }
                else {
                    await checkResult.push(0);
                }
            });

            is_Province_Direct_Pay = checkResult[0];
            is_Department_Direct_Pay = checkResult[1];
            is_With_Holding_Tax = checkResult[2];

            taxPay_To = $('#of_doc_edit_taxPayTo').val();
            taxPay_PID = $('#of_doc_edit_taxPayPID').val();
            taxPay_Address = $('#of_doc_edit_taxPayAddress').val();

            var jsonData = '{' +
                '"docInfo_ID": ' + docInfo_ID + ',' +
                '"name_TH": "' + name_TH + '",' +
                '"name_EN": "' + name_EN + '",' +
                '"doc_To": "' + doc_To + '",' +
                '"account_No": "' + account_No + '",' +
                '"account_Name": "' + account_Name + '",' +
                '"bank_ID": ' + bank_ID + ',' +
                '"is_Province_Direct_Pay": ' + is_Province_Direct_Pay + ',' +
                '"is_Department_Direct_Pay": ' + is_Department_Direct_Pay + ',' +
                '"is_With_Holding_Tax": ' + is_With_Holding_Tax + ',' +
                '"taxPay_To": "' + taxPay_To + '",' +
                '"taxPay_PID": "' + taxPay_PID + '",' +
                '"taxPay_Address": "' + taxPay_Address + '"}';

            Swal.fire({
                title: 'ยืนยันการแก้ไข',
                text: '',
                showConfirmButton: true,
                confirmButtonText: 'ตกลง',
                showCancelButton: true,
                cancelButtonText: 'ยกเลิก'
            }).then((result) => {
                if(result.isConfirmed){
                    $.post('/Home/UpdatePaymentDocInfo', { jsonData: jsonData }, (res) => {
                        if(res.callAPIStatus){
                            Swal.fire({
                                title: 'แก้ไขเอกสารสำเร็จ',
                                text: '',
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง',
                            }).then(() => {
                                $('#btnSearch').trigger('click');
                                $('#btnEditOffcanvasClose').trigger('click');;
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'มีบางอย่างผิดพลาด',
                                text: res.callAPIStatusText,
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง',
                            });
                        }
                        var docInfoContent = document.getElementById('docInfoContent');
                        docInfoContent.classList.add('d-none');
                    });
                }
            });

        }

        function DeletePaymentDocInfo(){
            var docInfoName = $('#docName').val();

            Swal.fire({
                title: 'ยืนยันลบเอกสารชื่อ "' + docInfoName + '" หรือไม่?',
                text: '',
                icon: 'warning',
                showConfirmButton: true,
                confirmButtonText: 'ตกลง',
                showCancelButton: true,
                cancelButtonText: 'ยกเลิก'
            }).then((result) => {
                if (result.isConfirmed) {
                    var docInfoId = $('#docInfoId').val();
                    $.post('/Home/DeletePaymentDocInfo', { docInfoId: docInfoId }, (res) => {
                        if (res.callAPIStatus) {
                            Swal.fire({
                                title: 'ลบเอกสารสำเร็จ',
                                text: '',
                                icon: 'success',
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง'
                            }).then(() => {
                                $('#docInfoContent').addClass('d-none');
                                $('#btnSearch').trigger('click');
                            });
                        }
                        else {
                            Swal.fire({
                                title: 'มีบางอย่างผิดพลาด!',
                                text: res.callAPIStatusText,
                                icon: 'danger',
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง'
                            });
                        }
                    });
                }
            });
        }

        async function GetPendingDepartmentsForPaymentDocInfoTable() {
            var tableID = '#tbAddDepartmentDocInfo';
            var provinceId = $('#of_add_dep_province').val();
            var keyword = $('#of_add_dep_keyword').val();

            if ($.fn.DataTable.isDataTable(tableID)) {
                $(tableID).DataTable().destroy();
            }

            $(tableID).DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Home/GetPendingDepartmentsForPaymentDocInfo',
                    type: 'POST',
                    data: { 'provinceId': provinceId,'keyword': keyword }
                },
                columns: [
                    { class: 'text-center align-middle' },
                    { class: 'text-center align-middle' },
                    { class: 'align-middle' },
                    { class: 'text-center align-middle' }
                ],
                columnDefs: [
                    {
                        data: null,
                        target: [0],
                        render: (data, type, row) => {
                            return '<div class="icheck-primary"><input type="checkbox" name="depCheck" onclick="setCheck(this.id)" id="' + row.department_ID + '" data-depId="' + row.department_ID + '" />'+
                            '<label for="' + row.department_ID + '"></label></div>';
                        }
                    },
                    {
                        data: null,
                        target: [1],
                        render: (data, type, row) => {
                            return row.search_Result_Index;
                        }
                    },
                    {
                        data: null,
                        target: [2],
                        render: (data, type, row) => {
                            return '[' + row.department_Code + '] ' + row.department_Name;
                        }
                    },
                    {
                        data: null,
                        target: [3],
                        render: (data, type, row) => {
                            var retStr = '';
                            if (row.is_Department_Enable == 1) {
                                retStr = '<span class="custom-badge-success">ปฏิบัติงาน</span>';
                            }
                            else {
                                retStr = '<span class="custom-badge-danger">หยุด</span>';
                            }
                            return retStr;
                        }
                    }
                ],
                language: {
                    lengthMenu: 'แสดงผลครั้งละ _MENU_ รายการ',
                    zeroRecords: 'ไม่พบข้อมูลจากการค้นหา',
                    info: '',
                    infoFiltered: '<span class="quickApproveTable_info_filtered_span">(จากข้อมูลทั้งหมด _MAX_ รายการ)</span>',
                    search: 'ค้นหา',
                    paginate: {
                        next: 'ต่อไป',
                        previous: 'ย้อนกลับ'
                    },
                    //loadingRecords: 'Please wait - loading...',
                    //processing: '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>'
                    processing: '<div id="spn" class="w-100 h-100 top-0 end-0 justify-content-center position-fixed bg-dark opacity-50" style="z-index:9999;">' +
                        '<div class="main-spn top-50"><div></div><div></div><div></div><div></div></div></div>'
                },
                "lengthMenu": [
                    [5, 10], [5, 10]
                ],
                searching: false
            });

            // $.each(checkeds, (i, cks) => {
            //     cks.addEventListener('click', () => {
            //         if (cks.checked != true) {
            //             cks.checked = true;
            //         }
            //         else {
            //             cks.checked = false;
            //         }
            //         console.log(true);
            //     });
            // });

            var checkeds = document.getElementsByName('depCheck');
            $('#btnAddDepartments').on('click', () => {
                
                var isSelected = [];
                var docInfoId = $('#docInfoId').val();
                var docInfoName = $('#docName').val();
                $.each(checkeds, (i, cks) => {
                    // console.log(cks.checked);
                    if (cks.checked == true) {
                        isSelected.push(cks.getAttribute('id'));
                    }
                });
                // console.log(isSelected);

                Swal.fire({
                    title: 'ยืนยันการเพิ่ม ' + isSelected.length + ' หน่วยงาน ไปที่เอกสาร "' + docInfoName + '"',
                    text: '',
                    showConfirmButton: true,
                    confirmButtonText: 'ตกลง',
                    showCancelButton: true,
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if(result.isConfirmed){
                        var json = '{' +
                            '"docInfo_ID":' + docInfoId + ',' +
                            '"department_IDs":[' + isSelected + ']}';
                        // console.log(json);

                        $.post('/Home/AddDepartmentsToPaymentDocInfo', { 'jsonData': json }, (res) => {
                            if (res.callAPIStatus) {
                                Swal.fire({
                                    title: 'เพิ่มหน่วยงานสำเร็จ',
                                    text: '',
                                    showConfirmButton: true,
                                    confirmButtonText: 'ตกลง'
                                }).then(() => {
                                    $('#btnAddDepOffcanvasClose').trigger('click');
                                    $('#btnSearch').trigger('click');
                                    ShowPaymentDocInfo(docInfoId);
                                });
                            }
                            else{
                                Swal.fire({
                                    title: 'มีบางอย่างผิดพลาด',
                                    text: res.callAPIStatusText,
                                    showConfirmButton: true,
                                    confirmButtonText: 'ตกลง'
                                });
                            }
                        });
                    }
                });


                

            });
            return Promise.resolve('success');
        }

        function DeleteDepartmentFromDocInfo(id){
            var recordId = id;
            var docInfoId = $('#docInfoId').val();
            Swal.fire({
                title: 'ยืนยันนำหน่วยงานออกหรือไม่?',
                text: '',
                icon: 'warning',
                showConfirmButton: true,
                confirmButtonText: 'ตกลง',
                showCancelButton: true,
                cancelButtonText: 'ยกเลิก'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.post('/Home/DeleteDepartmentFromPaymentDocInfo', { 'recordId': recordId }, (res) => {
                        if (res.callAPIStatus) {
                            Swal.fire({
                                title: 'นำหน่วยงานออกสำเร็จ',
                                text: '',
                                icon: 'warning',
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง'
                            }).then(() => {
                                $('#btnShowDepOffcanvasClose').trigger('click');
                                $('#btnSearch').trigger('click');
                                ShowPaymentDocInfo(docInfoId);
                            });
                        }
                        else{
                            Swal.fire({
                                title: 'มียางอย่างผิดพลาด',
                                text: res.callAPIStatusText,
                                icon: 'warning',
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง'
                            });
                        }
                    });
                }
            });

        }

        async function GetProvinceForPendingDepartment() {
            $.post('/Home/Getprovince', (res) => {
                var pvOptions = '<option value="null">--ทั้งหมด--</option>';
                $.each(res.result, (i, pv) => {
                    pvOptions += '<option value="' + pv.id + '">[' + pv.code + '] ' + pv.name + '</option>';
                });

                $('#of_add_dep_province').html(pvOptions);
            });
            return Promise.resolve('success');
        }

        function ClearOffcanvasDocInfo() {
            $('#of_doc_docName').val('');
            $('#of_doc_docTo').val('');
            $('#of_doc_accountNo').val('');
            $('#of_doc_accountName').val('');
            $('#of_doc_bankName').select2().val(null);

            var pType = document.getElementsByName('of_pType');
            $.each(pType, (i, pt) => {
                pt.removeAttribute('checked');
                pt.checked = false;
            });

            $('#of_doc_taxPayTo').val('');
            $('#of_doc_taxPayPID').val('');
            $('#of_doc_taxPayAddress').val('');
        }

        function setCheck(id) {
            var checked = document.getElementById(id);
            if (!checked.hasAttribute('checked') || checked.getAttribute('checked') == false) {
                checked.setAttribute('checked', true);
            }
            else {
                checked.removeAttribute('checked');
            }
            // console.log(id);
        }

    </script>
}
