﻿@{
    ViewData["title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="payment" class="pt-3 min-vh-100">
    <h3>ค้นหาตามรอบจ่าย</h3>
    <div class="card card-success">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ปีงบประมาณ</label>
                        <select id="fiscalYear" class="form-select form-select-sm select2 form-control">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>รอบจ่าย</label>
                        <select id="payRound" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <button id="btnSubmit" class="btn btn-primary">เรียกดู</button>
            </div>
        </div>
    </div>
    <div id="documentList_container" class="d-none">
        <h3>เอกสารรายการจ่าย</h3>
        <div class="card">
            <div class="card-body">
                <div id="documentList_colList" class="row d-flex row-cols-1 row-cols-lg-4">
                    @* <div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="1">1. BAAC-BAAC จ.ไม่จ่ายตรง</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="2">2. BAAC-BAAC จ.จ่ายตรง</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="3">3. eWHT-BAAC จ.จ่ายตรง</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="4">4. eWHT-Other จ.จ่ายตรง</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="5">5. KTB-KTB จ.จ่ายตรง</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="6">6. KTB-Other จ.จ่ายตรง</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="7">7. e-Filing จ.จ่ายตรง</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div> *@

                </div>
            </div>
        </div>
    </div>
    
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/th.min.js" integrity="sha512-IiSJKJyOVydT9/jfVcnpg7PIUM41Be6YzR5bTiAEAEQxTVtnUhbhiSNtgGXmOTFoxYpYs+LdxWlELOK7iRVVBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.post('/Home/CheckToken', function (res) {
                    if (res.message != 'success') {
                        Swal.fire({
                            title: 'Token หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง',
                            text: '',
                            showConfirmButton: true,
                            confirmButtonText: 'ตกลง',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        }).then(() => {
                            location.href = '/Authen/Login';
                        });
                    }
                    else {
                        console.log('Token Expanded : ' + res.message);
                    }
                });
            }, 600000);

            $('#fiscalYear').on('change', () => {
                var selectedYear = $('#fiscalYear').val();
                GetPaymentScheduleList(selectedYear, 2);
            });
            GetFiscalYearDropdown();
            Getprofile();

            $('#btnSubmit').on('click', () => {
                $('#documentList_container').removeClass('d-none');
                const reportName = [
                    { id: 1, name: 'BAAC-BAAC จ.ไม่จ่ายตรง' },
                    { id: 2, name: 'BAAC-BAAC จ.จ่ายตรง' },
                    { id: 3, name: 'eWHT-BAAC จ.จ่ายตรง' },
                    { id: 4, name: 'eWHT-Other จ.จ่ายตรง' },
                    { id: 5, name: 'KTB-KTB จ.จ่ายตรง' },
                    { id: 6, name: 'KTB-Other จ.จ่ายตรง' },
                    { id: 7, name: 'e-Filing-KTB' },
                    { id: 8, name: 'จ.ไม่จ่ายตรง' },
                    { id: 9, name: 'จ.จ่ายตรง' },
                    { id: 10, name: 'สรุปแยกประเภท' },
                    { id: 11, name: 'ตารางสรุปรายหน่วย' }

                ];

                var reportNameStr = '';
                $.each(reportName, (i, rep) => {
                    reportNameStr += `<div class="col">
                        <div class="card repItem">
                            <div class="card-body">
                                <a href="javascript:void(0);" class="stretched-link text-dark text-decoration-none" name="reportLink" data-repID="${rep.id}">${rep.id}. ${rep.name}</a>
                                <i class="fa-solid fa-file-excel float-end" style="color:#1d6f42; height:20px; opacity:.5;"></i>
                            </div>
                        </div>
                    </div>`;
                });
                $('#documentList_colList').html(reportNameStr);


                var repList = document.getElementsByName('reportLink');
                var s_Payment_Schedule_ID = $('#payRound').val();
                $.each(repList, (i, link) => {
                    link.addEventListener('click', () => {
                        var rep_id = link.getAttribute('data-repID');
                        LoadFileStream(rep_id, s_Payment_Schedule_ID);
                    });
                });
            });
        });

        async function GetFiscalYearDropdown() {
            var thisYear = moment().format('YYYY');
            var fiscalYearOption = '';
            for (var i = 0; i < 10; i++) {
                fiscalYearOption += '<option value="' + (parseInt(thisYear) - i) + '">' + (parseInt(thisYear) - i) + ' [' + ((parseInt(thisYear) + 543) - i) + ']</option>';
            }
            $('#fiscalYear').html(fiscalYearOption);
            $('#fiscalYear').trigger('change');

            return Promise.resolve('success');
        }

        function Getprofile() {
            //AddSpinner();
            $.post('/Home/GetProfile', (res) => {
                var profileMenu = '<span class="dropdown-item"><i class="fa fa-solid fa-location-dot"></i> ' + res.result.department_Province_Str + '</span>' +
                    '<span class="dropdown-item"><i class="fa fa-solid fa-house-user"></i> ' + res.result.department_Str + '</span>' +
                    '<div class="dropdown-divider"></div><a class="dropdown-item btn btn-danger" href="/Authen/Logout"><i class="fa fa-solid fa-power-off"></i> Logout</a>';

                $('#userName').html(res.result.title + ' ' + res.result.firstName + ' ' + res.result.lastName);
                $('#profileMenu').html(profileMenu);
                //console.log(res);

            }).then(() => {
                setTimeout(() => {
                    //RemoveSpinner();
                }, 500);
            });
        }

        async function GetPaymentScheduleList(pyear, ptype) {
            $.post('/Home/GetPaymentScheduleList', { type: ptype, year: pyear, is_publish : null}, (res) => {

                var options = '';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.schedule_ID + '">' + res.schedule_Detail + '</option>';
                });

                $('#payRound').html(options);

            });
            return Promise.resolve('success');
        }
        function LoadFileStream(reportTypeId, schedule) {

            AddArrowSpinner();
            $.post('/Home/GetReportFile', { schedule: schedule, reportType: reportTypeId }, (res) => {
                //console.log(res);
                //convert base64 to blob
                if (!res.result) {
                    console.log(res.message);
                }
                const byteChars = atob(res.result.fileContent);
                const byteArrs = [];

                for (let offset = 0; offset < byteChars.length; offset += 512) {
                    const slice = byteChars.slice(offset, offset + 512);
                    const byteNumbers = new Array(slice.length);
                    for (let i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i);
                    }
                    const byteArr = new Uint8Array(byteNumbers);
                    byteArrs.push(byteArr);
                }

                //const blob = new Blob([res.result.fileContent], { type: res.result.fileType });
                const blob = new Blob(byteArrs);
                var link = document.createElement('a');
                const url = URL.createObjectURL(blob);

                link.href = url;
                link.download = res.result.fileName;
                link.click();
            }).then(() => {
                RemoveArrowSpinner();
            });

        }
        function AddArrowSpinner() {
            $('#spn-load').removeClass('d-none');
            $('#spn-load').addClass('d-flex');
        }
        function RemoveArrowSpinner() {
            $('#spn-load').addClass('d-none');
            $('#spn-load').removeClass('d-flex');
        }
    </script>
}