﻿@{
    ViewData["Title"] = "E-Budget - Duplicate Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="payable" class="pt-3 min-vh-100">
    <h3>รายการซ้ำ</h3>
    <button class="btn btn-primary my-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch">
        กรอกข้อมูลเพื่อค้นหา
    </button>
    <div id="collapseSearch" class="card card-success collapse show @*collapsed-card*@">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ปีงบประมาณ</label>
                        <select id="fiscalYear" class="form-select form-select-sm select2 form-control">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>รอบตั้งเบิก</label>
                        <select id="payRound" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>จังหวัด</label>
                        <select id="province" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>หน่วยงาน</label>
                        <select id="department" class="form-select form-select-sm select2" disabled="disabled">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>เลขปฏิบัติการ</label>
                        <input id="operationCode" class="form-control" />
                    </div>

                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>โรงพยาบาลนำส่ง</label>
                        <select id="destinationHospital" class="form-select form-select-sm select2" disabled="disabled">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ระดับชุดปฏิบัติการ</label>
                        <select id="teamLevel" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex justify-content-evenly">
                        <div class="">
                            <div class="form-group">
                                <label>วันที่สั่งการ</label>
                                <div class="input-group">
                                    <input id="startDate" type="text" name="dates" class="form-control" aria-label="startDate" aria-describedby="calendarIcon1" />
                                    <span class="input-group-text" id="calendarIcon1"><i class="fa-regular fa-calendar-days"></i></span>
                                </div>

                            </div>
                        </div>
                        <div class="mx-2">
                            <label class="h-25"></label>
                            -
                        </div>
                        <div class="">
                            <div class="form-group">
                                <label>ถึงวันที่</label>
                                <div class="input-group">
                                    <input id="endDate" type="text" name="dates" class="form-control" disabled="disabled" aria-label="endDate" aria-describedby="calendarIcon2" />
                                    <span class="input-group-text" id="calendarIcon2"><i class="fa-regular fa-calendar-days"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>สถานะ</label><br />

                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="Status1" name="Status" data-statusID="0" />
                            <label for="Status1">ทั้งหมด</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="Status3" name="Status" data-statusID="4" checked="true" />
                            <label for="Status3">ค้างจ่าย</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="Status2" name="Status" data-statusID="5" />
                            <label for="Status2">จ่ายแล้ว</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="Status5" name="Status" data-statusID="6" />
                            <label for="Status5">ส่งไปตรวจ</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="Status6" name="Status" data-statusID="-3" />
                            <label for="Status6">ไม่จ่าย</label>
                        </div>

                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>บัญชีธนาคาร</label><br />

                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="hAccount0" name="hAccount" data-hAccount="null" />
                            <label for="hAccount0">ทั้งหมด</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="hAccount1" name="hAccount" data-hAccount="1" checked="true" />
                            <label for="hAccount1">มี</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="hAccount2" name="hAccount" data-hAccount="0" />
                            <label for="hAccount2">ไม่มี</label>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>การจัดเรียง</label>
                        <select id="vehicleStr" class="form-select form-select-sm select2">
                            <option value="C_DESC">วันที่สั่งการ ล่าสุด</option>
                            <option value="C_ASC">วันที่สั่งการ เก่าสุด</option>
                            <option value="V_DESC">ชุดปฏิบัติการ ล่าสุด</option>
                            <option value="V_ASC">ชุดปฏิบัติการ เก่าสุด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="w-25 d-flex justify-content-evenly">
                    <button id="btnSearch" class="btn btn-primary ">แสดงข้อมูลค้นหา</button>
                    <button id="btnClear" class="btn btn-warning ">ล้างข้อมูลค้นหา</button>
                </div>

            </div>
        </div>
    </div>
    <div class="w-100">
        @* <button id="selectAll" class="btn btn-success me-2">เลือกทั้งหมด</button>
        <button id="deSelectAll" class="btn btn-secondary">ยกเลิกเลือกทั้งหมด</button><br /> *@
        <div class="my-2 d-flex">
            <select id="statusDD" class="form-select form-select-sm me-2" style="width:15%!important;">
                <option value="0">--กรุณาเลือก--</option>
                <option value="5">จ่าย</option>
                <option value="6">ส่งไปตรวจ</option>
                <option value="-3">ไม่จ่าย</option>
            </select>
            <button class="btn btn-primary" disabled id="btnChangestatus" style="height: 30.6px!important; padding-top: 3px;">ตกลง</button>
        </div>
    </div>
    <div class="card card-outline card-primary">
        <div id="duplicateItemCheck" class="card-body">

        </div>
        <nav aria-label="Page navigation example">
            <ul id="dup-pagination" class="pagination justify-content-center">
                @* <li class="page-item disabled">
                <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                <a class="page-link" href="#">Next</a>
                </li> *@
            </ul>
        </nav>
    </div>
    
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/th.min.js" integrity="sha512-IiSJKJyOVydT9/jfVcnpg7PIUM41Be6YzR5bTiAEAEQxTVtnUhbhiSNtgGXmOTFoxYpYs+LdxWlELOK7iRVVBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.post('/Home/CheckToken', function (res) {
                    if (res.message != 'success') {
                        Swal.fire({
                            title: 'Token หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง',
                            text: '',
                            showConfirmButton: true,
                            confirmButtonText: 'ตกลง',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        }).then(() => {
                            location.href = '/Authen/Login';
                        });
                    }
                    else {
                        console.log('Token Expanded : ' + res.message);
                    }

                });
            }, 600000);

            $('#fiscalYear').on('change', () => {
                var selectedYear = $('#fiscalYear').val();
                GetPaymentScheduleList(selectedYear, 1);
            });

            $('#province').on('change', () => {
                var selectedProvince = $('#province').val();
                if (selectedProvince != "0") {
                    $('#department').removeAttr('disabled');
                    $('#destinationHospital').removeAttr('disabled');

                    //then load department and destination hospital

                    GetDepartmentList(selectedProvince);
                    GetHospitalInProvinceList(selectedProvince);
                }
                else {
                    $('#department').attr('disabled', 'disabled');
                    $('#destinationHospital').attr('disabled', 'disabled');

                    $('#department').html('');
                    $('#destinationHospital').html('');
                }
            });
            GetFiscalYearDropdown();

            GetProvince();
            GetVehicleLevelList();

            $('.select2').select2({
                theme: 'bootstrap-5'
            });

            DateEvent();
            Getprofile();

            $('#btnSearch').on('click', () => {
                //Wait for API
                // GetDataTable();
                GetDuplicateData(1);
            });
        });
        async function GetFiscalYearDropdown() {
            var thisYear = moment().format('YYYY');
            var fiscalYearOption = '';
            for (var i = 0; i < 10; i++) {
                fiscalYearOption += '<option value="' + (parseInt(thisYear) - i) + '">' + (parseInt(thisYear) - i) + ' [' + ((parseInt(thisYear) + 543) - i) + ']</option>';
            }
            $('#fiscalYear').html(fiscalYearOption);

            $('#fiscalYear').trigger('change');

            return Promise.resolve('success');
        }

        async function GetPaymentScheduleList(pyear, ptype) {
            $.post('/Home/GetPaymentScheduleList', { type: ptype, year: pyear , is_publish : null }, (res) => {

                var options = '<option value="">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.schedule_ID + '">' + res.schedule_Detail + '</option>';
                });

                $('#payRound').html(options);
                
            });
            return Promise.resolve('success');
        }

        async function GetProvince() {
            $.post('/Home/Getprovince', (res) => {
                var pvOptions = '<option value="0">--ทั้งหมด--</option>';
                $.each(res.result, (i, pv) => {
                    pvOptions += '<option value="' + pv.id + '">[' + pv.code + '] ' + pv.name + '</option>';
                });

                $('#province').html(pvOptions);
            });
            return Promise.resolve('success');
        }

        async function GetHospitalInProvinceList(sProvinceId) {
            $.post('/Home/GetHospitalInProvinceList', { provinceId: sProvinceId }, (res) => {
                var hospitalOptions = '<option value="00">--ทั้งหมด--</option>';
                $.each(res.result, (i, hs) => {
                    hospitalOptions += '<option value="' + hs.id + '">' + hs.name + ' (/' + hs.hcode + '/) [' + hs.code + ']</option>'
                });
                $('#destinationHospital').html(hospitalOptions);
            });
            return Promise.resolve('success');
        }

        async function GetDepartmentList(sPorvinceId) {
            $.post('/Home/GetDepartmentList', { province_id: sPorvinceId, vehicle_LevelID: null, vehicle_TypeID: null }, (res) => {
                var deptOptions = '<option value="00">--ทั้งหมด--</option>';
                $.each(res.result, (i, dept) => {
                    deptOptions += '<option value="' + dept.id + '">' + dept.name + ' (/' + dept.hcode + '/) [' + dept.code + ']</option>';
                });
                $('#department').html(deptOptions);
            });
            return Promise.resolve('success');
        }

        async function GetVehicleLevelList() {
            $.post('/Home/GetVehicleLevelList', { refId: null }, (res) => {
                var levelOptions = '<option value="00">--ทั้งหมด--</option>';
                $.each(res.result, (i, level) => {
                    levelOptions += '<option value="' + level.id + '">[' + level.id + '] ' + level.name + '</option>';
                });

                $('#teamLevel').html(levelOptions);
            });
            return Promise.resolve('success');
        }

        function Getprofile() {
            //AddSpinner();
            $.post('/Home/GetProfile', (res) => {
                var profileMenu = '<span class="dropdown-item"><i class="fa fa-solid fa-location-dot"></i> ' + res.result.department_Province_Str + '</span>' +
                    '<span class="dropdown-item"><i class="fa fa-solid fa-house-user"></i> ' + res.result.department_Str + '</span>' +
                    '<div class="dropdown-divider"></div><a class="dropdown-item btn btn-danger" href="/Authen/Logout"><i class="fa fa-solid fa-power-off"></i> Logout</a>';

                $('#userName').html(res.result.title + ' ' + res.result.firstName + ' ' + res.result.lastName);
                $('#profileMenu').html(profileMenu);
                //console.log(res);

            }).then(() => {
                setTimeout(() => {
                    //RemoveSpinner();
                }, 500);
            });
        }

        function DateEvent() {
            //var christianYear = moment().format('YYYY');
            //var buddhishYear = (parseInt(christianYear) + 543).toString();
            var dateEle = document.getElementsByName('dates');
            $.each(dateEle, (i, ele) => {
                ele.setAttribute('placeholder', moment().format('YYYY-MM-DD'))
            });

            $('#calendarIcon1').on('click', () => {
                $('#startDate').trigger('click');
            });

            $('#calendarIcon2').on('click', () => {
                $('#endDate').trigger('click');
            });

            $('input[id="startDate"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                maxDate: new Date(),
                autoApply: true,
                locale: {
                    format: 'YYYY-MM-DD',
                    cancelLabel: 'ยกเลิก',
                    applyLabel: 'เลือก'
                }
            });

            $('input[id="endDate"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                maxDate: new Date(),
                autoApply: true,
                locale: {
                    format: 'YYYY-MM-DD',
                    cancelLabel: 'ยกเลิก',
                    applyLabel: 'เลือก'
                }
            });

            $('input[id="startDate"]').on('apply.daterangepicker', (ev, picker) => {
                $('#startDate').val(picker.startDate.format('YYYY-MM-DD'));

                $('#endDate').removeAttr('disabled');

                $('#calendarIcon2').on('click', () => {
                    $('#endDate').trigger('click');
                });

            });

            $('input[id="startDate"]').on('keyup', () => {
                var startDateValue = $('#startDate').val();
                if (startDateValue.length == 0) {
                    $('#endDate').val('');
                    $('#endDate').attr('disabled', 'disabled');

                    $('#calendarIcon2').off('click');
                }
            });

            $('input[id="endDate"]').on('apply.daterangepicker', (ev, picker) => {
                //alert(picker.startDate.format('YYYY-MM-DD'));
                $('#endDate').val(picker.startDate.format('YYYY-MM-DD'));
            });
      
            var inputEle = document.getElementsByTagName('input');
            $.each(inputEle, (i, ele) => {
                ele.setAttribute('autocomplete', 'off');
            });
        }

        function GetDuplicateData(currPage) {
            var skipData = (currPage - 1) * 10;
            var s_Payment_Year, s_Payment_Schedule_ID, s_Province_ID, s_Department_ID, s_Operation_Code, s_Hospital_ID, s_Level_ID, s_T2_Op_Command_Str_start, s_T2_Op_Command_Str_end, s_vehicle_Str;
            var paymentStatus, s_Payment_Status_ID, selectedStatus ,s_Is_HaveAccount , hAccount, selectedHAccount;
            var tableID = "#dataTableDuplicateItem";

            s_Payment_Schedule_ID = $('#payRound').val() == "0" ? '0' : $('#payRound').val();
            s_Province_ID = $('#province').val() == "0" ? '' : $('#province').val();
            s_Department_ID = '';
            s_Operation_Code = '';
            s_Hospital_ID = '';
            s_Level_ID = '';
            s_T2_Op_Command_Str_start = '';
            s_T2_Op_Command_Str_end = '';
            s_vehicle_Str = 'V_DESC';

            paymentStatus = document.getElementsByName('Status');
            $.each(paymentStatus, (i, ps) => {
                if (ps.checked == true) {
                    selectedStatus = ps.getAttribute('data-statusID');
                }
            });
            s_Payment_Status_ID = selectedStatus;

            hAccount = document.getElementsByName('hAccount');
            $.each(hAccount, (i, ha) => {
                if (ha.checked == true) {
                    selectedHAccount = ha.getAttribute('data-haccount');
                }
            });
            s_Is_HaveAccount = selectedHAccount;

            var jsonStr = '{' +
                '"s_Payment_Schedule_ID": ' + (s_Payment_Schedule_ID == '' ? null : s_Payment_Schedule_ID) + ',' +
                '"s_Province_ID": ' + (s_Province_ID == '' ? null : s_Province_ID) + ',' +
                '"s_Department_ID": ' + (s_Department_ID == '' ? null : s_Department_ID) + ',' +
                '"s_Operation_Code": ' + (s_Operation_Code == '' ? null : '"' + s_Operation_Code + '"') + ',' +
                '"s_Hospital_ID": ' + (s_Hospital_ID == '' ? null : s_Hospital_ID) + ',' +
                '"s_Level_ID": ' + (s_Level_ID == '' ? null : s_Level_ID) + ',' +
                '"s_T2_Op_Command_Str_start": ' + (s_T2_Op_Command_Str_start == '' ? null : '"' + moment(s_T2_Op_Command_Str_start).format('YYYY-MM-DD HH:mm:ss') + '"') + ',' +
                '"s_T2_Op_Command_Str_end": ' + (s_T2_Op_Command_Str_end == '' ? null : '"' + moment(s_T2_Op_Command_Str_end + ' 23:59:59').format('YYYY-MM-DD HH:mm:ss') + '"') + ',' +
                '"s_Payment_Status_ID": ' + (s_Payment_Status_ID == '' ? null : s_Payment_Status_ID) + ',' +
                '"o_By_Condition": "' + s_vehicle_Str + '",' +
                '"s_Is_HaveAccount": "' + s_Is_HaveAccount + '",' +
                '"skip": ' + skipData + ','+
                '"take": 10' +
                '}';

            AddSpinner();
            $.post('/Home/GetSearchDuplicateOperation', { jsonData: jsonStr },async (res) => {
                $('#duplicateItemCheck').empty();
                
                var data = res.data;
                var cardItem = '';
                $.each(data, (i ,res) => {
                    // cardItem += '<div class="card"><div class="card-body">' + res.operation_ID + '</div></div>';

                    var customBadge = '';
                    if (res.level_Str == 'ALS' || res.level_Str == 'CLS' || res.level_Str == 'ILS') {
                        customBadge = 'custom-badge-success';
                    }
                    else if (res.level_Str == 'BLS') {
                        customBadge = 'custom-badge-danger';
                    }
                    else if (res.level_Str == 'FR') { 
                        customBadge = 'custom-badge-primary';

                    }


                    var opProgress = '<div class="progress rounded-pill" role="progressbar" aria-label="width label" aria-valuenow="' + (res.operation_Complete_Percentage == null ? "" : res.operation_Complete_Percentage) + '" aria-valuemin="0" aria-valuemax="100">' +
                        '<div class="progress-bar ' + (res.operation_Complete_Percentage == 100 ? "bg-success":"bg-warning") + '" style="width:' + (res.operation_Complete_Percentage == null ? "" : res.operation_Complete_Percentage) + '%">' + (res.operation_Complete_Percentage == null ? "" : res.operation_Complete_Percentage) + '%</div></div>';

                    var vicProgress = '<div class="progress rounded-pill" role="progressbar" aria-label="width label" aria-valuenow="' + (res.victim_Complete_Percentage == null ? "" : res.victim_Complete_Percentage) + '" aria-valuemin="0" aria-valuemax="100">' +
                        '<div class="progress-bar ' + (res.victim_Complete_Percentage == 100 ? "bg-success" : "bg-warning") + '" style="width:' + (res.victim_Complete_Percentage == null ? "" : res.victim_Complete_Percentage) + '%">' + (res.victim_Complete_Percentage == null ? "" : res.victim_Complete_Percentage) + '%</div></div>';

                    var check = '<div class="icheck-primary"><input type="checkbox" name="opeCheck" id="' + (res.operation_Code == null ? "" : res.operation_Code) + '" data-opId="' + res.operation_ID + '" /><label for="' + (res.operation_Code == null ? "" : res.operation_Code) + '"></label></div>';

                    var dupItem = '';
                    
                    $.each(res.duplicateOperations, (d, dup) => {
                        var dupcustomBadge = '';
                        if (dup.level_Str == 'ALS' || dup.level_Str == 'CLS' || dup.level_Str == 'ILS') {
                            dupcustomBadge = 'custom-badge-success';
                        }
                        else if (dup.level_Str == 'BLS') {
                            dupcustomBadge = 'custom-badge-danger';
                        }
                        else if (dup.level_Str == 'FR') {
                            dupcustomBadge = 'custom-badge-primary';

                        }


                        var dupOpProgress = '<div class="progress rounded-pill" role="progressbar" aria-label="width label" aria-valuenow="' + (dup.operation_Complete_Percentage == null ? "" : dup.operation_Complete_Percentage) + '" aria-valuemin="0" aria-valuemax="100">' +
                            '<div class="progress-bar ' + (dup.operation_Complete_Percentage == 100 ? "bg-success" : "bg-warning") + '" style="width:' + (dup.operation_Complete_Percentage == null ? "" : dup.operation_Complete_Percentage) + '%">' + (dup.operation_Complete_Percentage == null ? "" : dup.operation_Complete_Percentage) + '%</div></div>';

                        var dupVicProgress = '<div class="progress rounded-pill" role="progressbar" aria-label="width label" aria-valuenow="' + (dup.victim_Complete_Percentage == null ? "" : dup.victim_Complete_Percentage) + '" aria-valuemin="0" aria-valuemax="100">' +
                            '<div class="progress-bar ' + (dup.victim_Complete_Percentage == 100 ? "bg-success" : "bg-warning") + '" style="width:' + (dup.victim_Complete_Percentage == null ? "" : dup.victim_Complete_Percentage) + '%">' + (dup.victim_Complete_Percentage == null ? "" : dup.victim_Complete_Percentage) + '%</div></div>';


                        var dubCheck = '<div class="icheck-primary"><input type="checkbox" name="opeCheck" id="' + (dup.operation_Code == null ? "" : dup.operation_Code) + '" data-opId="' + dup.operation_ID + '" /><label for="' + (dup.operation_Code == null ? "" : dup.operation_Code) + '"></label></div>';

                        var addMarginPaddingClass = '';
                        if(d > 0){
                            addMarginPaddingClass = 'mt-2 pt-2 border-top'
                        }

                        dupItem += '<div class="row ' + addMarginPaddingClass + '">' +
                            '<div class="col border-right text-center d-flex flex-column justify-content-center">' +
                            dubCheck +
                            '</div>' +
                            '<div class="col-1 border-right text-center d-flex flex-column justify-content-center">' +
                            '<span class="custom-badge-success">' + (dup.payment_Status_Str == null ? "" : dup.payment_Status_Str) + '</span>' +
                            '</div>' +
                            '<div class="col-4 border-right">' +
                            '<div class="row">' +
                            '<div class="col-6">เลขปฏิบัติการ</div><div id="' + dup.operation_ID + '" class="col-6 opeID">' + (dup.operation_Code == null ? "" : dup.operation_Code) + '</div>' +
                            '<div class="col-6">วันที่สั่งการ</div><div class="col-6">' + (dup.t2_Op_Command_Str == null ? "" : moment(dup.t2_Op_Command_Str).format("lll")) + '</div>' +
                            '<div class="col-6">หน่วยปฏิบัติการ</div><div class="col-6">' + (dup.department_Str == null ? "" : dup.department_Str) + '</div>' +
                            '<div class="col-6">ชุดปฏิบัติการ</div><div class="col-6">' + (dup.vehicle_Str == null ? "" : dup.vehicle_Str) + '</div>' +
                            '<div class="col-6">ระดับปฏิบัติการ</div><div class="col-6"><span class="' + dupcustomBadge + '">' + (dup.level_Str == null ? "" : dup.level_Str) + '</span></div>' +
                            '<div class="col-6">บริการ</div><div class="col-6">' + (dup.service_Str == null ? "" : dup.service_Str) + '</div>' +
                            '<div class="col-6">ความครบถ้วน</div><div class="col-6 my-auto">' + dupOpProgress + '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-4 border-right">' +
                            '<div class="row">' +
                            '<div class="col-6">เลขที่ผู้ป่วย</div><div class="col-6">' + (dup.victim_Code == null ? "" : dup.victim_Code) + '</div>' +
                            '<div class="col-6">ชื่อผู้ป่วย</div><div class="col-6">' + (dup.victim_Fullname == null ? "" : dup.victim_Fullname) + '</div>' +
                            '<div class="col-6">นำส่ง รพ.</div><div class="col-6">' + (dup.victim_Transfer_Hospital == null ? "" : dup.victim_Transfer_Hospital) + '</div>' +
                            '<div class="col-6">HN</div><div class="col-6">' + (dup.victim_HN == null ? "" : dup.victim_HN) + '</div>' +
                            '<div class="col-6">ประเมิน ER</div><div class="col-6">' + (dup.victim_ER_Str == null ? "" : dup.victim_ER_Str) + '</div>' +
                            '<div class="col-6">ผลการรักษา</div><div class="col-6">' + (dup.victim_Final_Result_Str == null ? "" : dup.victim_Final_Result_Str) + '</div>' +
                            '<div class="col-6">ประมาณการค่าตอบแทน</div><div class="col-6"><span class="' + dupcustomBadge + '">' + (dup.payment_Amount == null ? "" : dup.payment_Amount) + '</span> บาท</div>' +
                            '<div class="col-6">ความครบถ้วน</div><div class="col-6 my-auto">' + dupVicProgress + '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="col text-center d-flex flex-column justify-content-center">' +
                            '<div class="d-flex justify-content-center">' +
                            '<a href="/Preview/Operation?operationId=' + dup.operation_ID + ' "target="_blank" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                    });
                    

                    cardItem += '<div class="row">' + 
                            '<div class="card">'+
                                '<div class="card-body">'+
                                    '<div class="row">'+
                                        '<div class="col border-right text-center d-flex flex-column justify-content-center">' +
                                            check +
                                            // '<div class="d-flex flex-wrap justify-content-start mt-auto">'+
                                                // '<button class="btn btn-success m-1 px-2 mt-auto">จ่าย</button>'+
                                                // '<button class="btn btn-danger m-1 px-2">ไม่จ่าย</button>' +
                                                // '<button class="btn btn-warning m-1 px-2">ส่งไปตรวจ</button>' +
                                            // '</div>'+
                                        '</div>'+
                                        '<div class="col-1 border-right text-center d-flex flex-column justify-content-center">' +
                                            '<span class="custom-badge-success">' + (res.payment_Status_Str == null ? "" : res.payment_Status_Str) + '</span>' +
                                        '</div>' +
                                        '<div class="col-4 border-right">'+
                                            '<div class="row">' +
                                                '<div class="col-6">เลขปฏิบัติการ</div><div id="' + res.operation_ID + '" class="col-6 opeID">' + (res.operation_Code == null ? "" : res.operation_Code) + '</div>' +
                                                '<div class="col-6">วันที่สั่งการ</div><div class="col-6">' + (res.t2_Op_Command_Str == null ? "" : moment(res.t2_Op_Command_Str).format("lll")) + '</div>' +
                                                '<div class="col-6">หน่วยปฏิบัติการ</div><div class="col-6">' + (res.department_Str == null ? "" : res.department_Str) + '</div>' +
                                                '<div class="col-6">ชุดปฏิบัติการ</div><div class="col-6">' + (res.vehicle_Str == null ? "" : res.vehicle_Str) + '</div>' +
                                                '<div class="col-6">ระดับปฏิบัติการ</div><div class="col-6"><span class="' + customBadge + '">' + (res.level_Str == null ? "" : res.level_Str) + '</span></div>' +
                                                '<div class="col-6">บริการ</div><div class="col-6">' + (res.service_Str == null ? "" : res.service_Str) + '</div>' +
                                                '<div class="col-6">ความครบถ้วน</div><div class="col-6 my-auto">' + opProgress + '</div>' +
                                            '</div>'+
                                        '</div>'+
                                        '<div class="col-4 border-right">' +
                                            '<div class="row">' +
                                                '<div class="col-6">เลขที่ผู้ป่วย</div><div class="col-6">' + (res.victim_Code == null ? "" : res.victim_Code) + '</div>' +
                                                '<div class="col-6">ชื่อผู้ป่วย</div><div class="col-6">' + (res.victim_Fullname == null ? "" : res.victim_Fullname) + '</div>' +
                                                '<div class="col-6">นำส่ง รพ.</div><div class="col-6">' + (res.victim_Transfer_Hospital == null ? "" : res.victim_Transfer_Hospital) + '</div>' +
                                                '<div class="col-6">HN</div><div class="col-6">' + (res.victim_HN == null ? "" : res.victim_HN) + '</div>' +
                                                '<div class="col-6">ประเมิน ER</div><div class="col-6">' + (res.victim_ER_Str == null ? "" : res.victim_ER_Str) + '</div>' +
                                                '<div class="col-6">ผลการรักษา</div><div class="col-6">' + (res.victim_Final_Result_Str == null ? "" : res.victim_Final_Result_Str) + '</div>' +
                                                '<div class="col-6">ประมาณการค่าตอบแทน</div><div class="col-6"><span class="' + customBadge + '">' + (res.payment_Amount == null ? "" : res.payment_Amount) + '</span> บาท</div>' +
                                                '<div class="col-6">ความครบถ้วน</div><div class="col-6 my-auto">' + vicProgress + '</div>' +
                                            '</div>'+
                                        '</div>'+
                                        '<div class="col text-center d-flex flex-column justify-content-center">'+
                                            '<div class="d-flex justify-content-center">' +
                                                '<a href="/Preview/Operation?operationId=' + res.operation_ID + ' "target="_blank" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>' +
                                            '</div>'+
                                        '</div>' +
                                    '</div>'+
                                    '<div class="row d-flex justify-content-center duplicate-count mt-3">' +
                                        '<button id="caseCollapseBtn" class="btn btn-warning rounded-pill text-center pulse" type="button" data-bs-toggle="collapse" data-bs-target="#op' + res.operation_ID + '" aria-expanded="false" aria-controls="op' + res.operation_ID + '">พบอีก '+ res.duplicateOperations.length +' รายการซ้ำ  <i class="fas fa-angle-down"></i></button>' +
                                    '</div>'+
                                    '<div class="collapse mt-3" id="op' + res.operation_ID + '">' +
                                        dupItem +
                                    '</div>' +
                                '</div>'+
                            '</div>' +
                        '</div>';
                });

                $('#duplicateItemCheck').append(cardItem);

                $('#statusDD').on('change', () => {
                    if ($('#statusDD').val() != "0") {
                        $('#btnChangestatus').removeAttr('disabled');
                    }
                    else {
                        $('#btnChangestatus').attr('disabled', 'disabled');
                    }
                });

                var checkEle = document.getElementsByName('opeCheck');

                $('#btnChangestatus').on('click', () => {
                    var checkedItems = 0;
                    var jsonOpeSelectedList = '{"operation_IDs" :[';
                    var changeStatusTo = $('#statusDD').val();
                    var changeStatusToText = $('#statusDD option:selected').text();
                    $.each(checkEle, (i, ele) => {
                        if (ele.checked == true) {
                            var dataId = ele.getAttribute('data-opId');
                            //var dataId = ele.id;
                            if (checkedItems > 0) {
                                jsonOpeSelectedList += ',' + dataId;
                            }
                            else {
                                jsonOpeSelectedList += dataId;
                            }

                            checkedItems++;
                        }
                    });
                    jsonOpeSelectedList += '],"to_Status_ID": ' + changeStatusTo + '}';

                    if (checkedItems != 0) {
                        //console.log(JSON.parse(jsonOpeSelectedList));
                        var changeStatusTo = $('#statusDD').val();
                        Swal.fire({
                            title: 'ยืนยันการเปลี่ยนสถานะ?',
                            icon: 'question',
                            text: `เปลี่ยน ${checkedItems} เป็นสถานะ ${changeStatusToText}`,
                            showConfirmButton: true,
                            confirmButtonText: 'ยืนยัน',
                            showCancelButton: true,
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                //call update status api
                                //console.log(`Changed ${checkedItems} items to status ${changeStatusTo}`);
                                //console.log(JSON.parse(jsonOpeSelectedList));
                                $.post('/Home/UpdatePaymentStatus', { payments: jsonOpeSelectedList }, (res) => {
                                    if (res.callAPIStatus != true) {
                                        Swal.fire({
                                            title: 'เกิดข้อผิดพลาด',
                                            icon: 'error',
                                            text: res.callAPIStatusMessage,
                                            showConfirmButton: true,
                                            confirmButtonText: 'ตกลง'
                                        });
                                    }
                                    else {
                                        Swal.fire({
                                            title: 'เปลี่ยนสถานะสำเร็จ',
                                            icon: 'success',
                                            text: '',
                                            showConfirmButton: true,
                                            confirmButtonText: 'ตกลง',
                                            timer: 3000,
                                            timerProgressBar: true,
                                            didOpen: () => {
                                                Swal.showLoading();
                                            }
                                        }).then(() => {
                                            location.reload();
                                        });
                                    }
                                });
                            }
                        });
                    }

                });

                const section = document.getElementById("duplicateItemCheck");
                const TopSection = section.offsetTop;
                window.scrollTo({
                    top: TopSection,
                    behavior : "smooth"
                });


                var itemsCount = res.count;
                var limitPage = 5;
                var perPage = 10;
                var skip = 0;
                var currentPage = currPage;
                var pageCount = Math.ceil(itemsCount/perPage);
      
                CustomPagination(currentPage, pageCount);
            }).then(() => {
                RemoveSpinner();
            });
        }

        async function CustomPagination(currPage,last){
            $('#dup-pagination').empty();

            var currentPage = currPage;
            var lastPage = last;
            
            //if current page > 2 add pagiantion ... in prev page and next page
            //Exp. lastPage = 10 currentPage = 3 then go like this => prev 1 ... 2 3 4 ... 10 next

            var computedPage = GeneratePage(currentPage, lastPage);
            
            $('#dup-pagination').append(computedPage);
        }

        function GeneratePage(currPage ,last){
            var currentPage = currPage;
            var lastPage = last;

            var IsPrevShow = '';
            var IsNextShow = '';
            if (currentPage == 1) {
                IsPrevShow = 'disabled';
            }
            if (currentPage == lastPage) {
                IsNextShow = 'disabled';
            }

            var nA = '<li class="page-item disabled"><a class="page-link" href = "#" > ... </a></li>';
            var prevItem = '<li class="page-item prev ' + IsPrevShow + '"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + (currentPage - 1) + ')"> <i class="fa-solid fa-angles-left"></i> </a></li>';
            var nextItem = '<li class="page-item next ' + IsNextShow + '"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + (currentPage + 1) + ')"> <i class="fa-solid fa-angles-right"></i> </a></li>';
            var Pfirst = '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(1)">1</a></li>';
            var Pcurr = '<li class="page-item active"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + currentPage + ')">' + (currentPage) + '</a></li>';
            var PcurrAdd1 = '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + (currentPage + 1) + ')">' + (currentPage + 1) + '</a></li>';
            var PcurrAdd2 = '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + (currentPage + 2) + ')" >' + (currentPage + 2) + '</a></li>';
            var PcurrNeg1 = '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + (currentPage - 1) + ')">' + (currentPage - 1) + '</a></li>';
            var PcurrNeg2 = '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + (currentPage - 2) + ')">' + (currentPage - 2) + '</a></li>';
            var Plast = '<li class="page-item"><a class="page-link" href="javascript:void(0);" onclick="GetDuplicateData(' + lastPage + ')">' + lastPage + '</a></li>';
            var retStr = '';

            if(currentPage == 1){
                retStr += prevItem + Pcurr +
                          PcurrAdd1 +
                          PcurrAdd2 + nA +
                          Plast +
                          nextItem;
            }
            else if(currentPage == lastPage){
                retStr += prevItem +
                        Pfirst +
                        nA + PcurrNeg2 +
                        PcurrNeg1 +
                        Pcurr + nextItem;
            }
            else{
                if(currentPage == 2){
                    retStr += prevItem + 
                        PcurrNeg1 +
                        Pcurr +
                        PcurrAdd1 + nA +
                        Plast + 
                        nextItem;
                }
                else if(currentPage == (lastPage - 1)){
                    retStr += prevItem + Pfirst +
                        nA + PcurrNeg1 +
                        Pcurr +
                        PcurrAdd1 + 
                        nextItem;
                }
                else{
                    retStr += prevItem + Pfirst +
                        nA + PcurrNeg1 +
                        Pcurr +
                        PcurrAdd1 + nA +
                        Plast + 
                        nextItem;
                }
            }
            return retStr;
        }
        function AddSpinner() {
            $('#spn').removeClass('d-none');
            $('#spn').addClass('d-flex');
        }
        function RemoveSpinner() {
            $('#spn').addClass('d-none');
            $('#spn').removeClass('d-flex');
        }
    </script>
}