﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "E-Budget - Paid";
}
<div id="paid" class="pt-3 min-vh-100">
    <h3>จ่ายแล้ว</h3>
    <button class="btn btn-primary my-2 w-100" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSearchPaid" aria-expanded="false" aria-controls="collapseSearchPaid">
        กรอกข้อมูลเพื่อค้นหา
    </button>
    <div id="collapseSearchPaid" class="card card-success collapse show @*collapsed-card*@">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ปีงบประมาณ</label>
                        <select id="fiscalYearPaid" class="form-select form-select-sm select2 form-control">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>รอบจ่าย</label>
                        <select id="payRoundPaid" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>จังหวัด</label>
                        <select id="provincePaid" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>หน่วยงาน</label>
                        <select id="departmentPaid" class="form-select form-select-sm select2" disabled="disabled">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>เลขปฏิบัติการ</label>
                        <input id="operationCodePaid" class="form-control" />
                    </div>

                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>โรงพยาบาลนำส่ง</label>
                        <select id="destinationHospitalPaid" class="form-select form-select-sm select2" disabled="disabled">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ระดับชุดปฏิบัติการ</label>
                        <select id="teamLevelPaid" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex justify-content-evenly">
                        <div class="">
                            <div class="form-group">
                                <label>วันที่สั่งการ</label>
                                <div class="input-group">
                                    <input id="startDatePaid" type="text" name="dates" class="form-control" aria-label="startDate" aria-describedby="calendarIcon1Paid" />
                                    <span class="input-group-text" id="calendarIcon1Paid"><i class="fa-regular fa-calendar-days"></i></span>
                                </div>

                            </div>
                        </div>
                        <div class="mx-2">
                            <label class="h-25"></label>
                            -
                        </div>
                        <div class="">
                            <div class="form-group">
                                <label>ถึงวันที่</label>
                                <div class="input-group">
                                    <input id="endDatePaid" type="text" name="dates" class="form-control" disabled="disabled" aria-label="endDate" aria-describedby="calendarIcon2Paid" />
                                    <span class="input-group-text" id="calendarIcon2Paid"><i class="fa-regular fa-calendar-days"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>การจัดเรียง</label>
                        <select id="vehicleStrPaid" class="form-select form-select-sm select2">
                            <option value="C_DESC">วันที่สั่งการ ล่าสุด</option>
                            <option value="C_ASC">วันที่สั่งการ เก่าสุด</option>
                            <option value="V_DESC">ชุดปฏิบัติการ ล่าสุด</option>
                            <option value="V_ASC">ชุดปฏิบัติการ เก่าสุด</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-5">
                <div class="w-25 d-flex justify-content-evenly">
                    <button id="btnSearchPaid" class="btn btn-primary ">แสดงข้อมูลค้นหา</button>
                    <button id="btnClearPaid" class="btn btn-warning ">ล้างข้อมูลค้นหา</button>
                </div>

            </div>
        </div>
    </div>
    @*<div class="w-100">
    <button id="selectAllPaid" class="btn btn-success me-2">เลือกทั้งหมด</button>
    <button id="deSelectAllPaid" class="btn btn-secondary">ยกเลิกเลือกทั้งหมด</button><br />
    <div class="my-2 d-flex">
    <select id="statusDDPaid" class="form-select form-select-sm me-2" style="width:15%!important;">
    <option value="0">--กรุณาเลือก--</option>
    <option value="5">จ่าย</option>
    <option value="6">ส่งไปตรวจ</option>
    <option value="-3">ไม่จ่าย</option>
    </select>
    <button class="btn btn-primary" disabled id="btnChangestatusPaid" style="height: 30.6px!important; padding-top: 3px;">ตกลง</button>
    </div>
    </div>*@
    <div class="card card-outline card-primary">
        <div class="card-body">
            <table id="tableOpByProposePaid" class="table table-bordered table-striped @*dataTable*@ dtr-inline w-100">
                <thead>
                    <tr>
                        <th id="opCheckboxPaid" @*style="width:5%;"*@>#</th>
                        <th>สถานะ</th>
                        <th id="opDetailPaid" @*style="width:35%;"*@>ข้อมูลสั่งการ</th>
                        <th id="vicDetailPaid" @*style="width:35%;"*@>ข้อมูลผู้ป่วย</th>
                        <th id="opPrintPaid">ดูรายละเอียด</th>
                    </tr>
                </thead>
                <tbody id="operationDataBodyPaid">
                </tbody>
            </table>

        </div>
    </div>
    @* <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">รายการไฟล์ตามประเภท</h5>

            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p class="ms-2">คลิกเพื่อดาวน์โหลด</p>
            <div class="container d-flex">
                <table id="tbReportList" class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>รายงาน</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </div> *@
</div>
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/th.min.js" integrity="sha512-IiSJKJyOVydT9/jfVcnpg7PIUM41Be6YzR5bTiAEAEQxTVtnUhbhiSNtgGXmOTFoxYpYs+LdxWlELOK7iRVVBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.post('/Home/CheckToken', function (res) {
                    if (res.message != 'success') {
                        Swal.fire({
                            title: 'Token หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง',
                            text: '',
                            showConfirmButton: true,
                            confirmButtonText: 'ตกลง',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        }).then(() => {
                            location.href = '/Authen/Login';
                        });
                    }
                    else {
                        console.log('Token Expanded : ' + res.message);
                    }

                });
            }, 600000);

            $('#fiscalYearPaid').on('change', () => {
                var selectedYear = $('#fiscalYearPaid').val();
                GetPaymentScheduleList(selectedYear, 2);
            });
            GetFiscalYearDropdown();

            $('#provincePaid').on('change', () => {
                var selectedProvince = $('#provincePaid').val();
                if (selectedProvince != "0") {
                    $('#departmentPaid').removeAttr('disabled');
                    $('#destinationHospitalPaid').removeAttr('disabled');

                    //then load department and destination hospital

                    GetDepartmentList(selectedProvince);
                    GetHospitalInProvinceList(selectedProvince);
                }
                else {
                    $('#departmentPaid').attr('disabled', 'disabled');
                    $('#destinationHospitalPaid').attr('disabled', 'disabled');

                    $('#departmentPaid').html('');
                    $('#destinationHospitalPaid').html('');
                }
            });
            GetProvince();
            GetVehicleLevelList();

            $('.select2').select2({
                theme: 'bootstrap-5'
            });

            DateEvent();

            Getprofile();

            $('#btnSearchPaid').on('click', () => {
                GetDataTable('Paid');
            });
        });

        async function GetFiscalYearDropdown() {
            var thisYear = moment().format('YYYY');
            var fiscalYearOption = '';
            for (var i = 0; i < 10; i++) {
                fiscalYearOption += '<option value="' + (parseInt(thisYear) - i) + '">' + (parseInt(thisYear) - i) + ' [' + ((parseInt(thisYear) + 543) - i) + ']</option>';
            }
            $('#fiscalYearPaid').html(fiscalYearOption);

            $('#fiscalYearPaid').trigger('change');

            return Promise.resolve('success');
        }

        async function GetPaymentScheduleList(pyear, ptype) {
            $.post('/Home/GetPaymentScheduleList', { type: ptype, year: pyear , is_publish : null }, (res) => {

                var options = '<option value="">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.schedule_ID + '">' + res.schedule_Name + '</option>';
                });

                $('#payRoundPaid').html(options);
               
            });
            return Promise.resolve('success');
        }

        async function GetProvince() {
            $.post('/Home/Getprovince', (res) => {
                var pvOptions = '<option value="0">--ทั้งหมด--</option>';
                $.each(res.result, (i, pv) => {
                    pvOptions += '<option value="' + pv.id + '">[' + pv.code + '] ' + pv.name + '</option>';
                });

                $('#provincePaid').html(pvOptions);
            });
            return Promise.resolve('success');
        }

        async function GetHospitalInProvinceList(sProvinceId) {
            $.post('/Home/GetHospitalInProvinceList', { provinceId: sProvinceId }, (res) => {
                var hospitalOptions = '<option value="00">--ทั้งหมด--</option>';
                $.each(res.result, (i, hs) => {
                    hospitalOptions += '<option value="' + hs.id + '">' + hs.name + ' (/' + hs.hcode + '/) [' + hs.code + ']</option>'
                });
                $('#destinationHospitalPaid').html(hospitalOptions);
            });
            return Promise.resolve('success');
        }

        async function GetDepartmentList(sPorvinceId) {
            $.post('/Home/GetDepartmentList', { province_id: sPorvinceId, vehicle_LevelID: null, vehicle_TypeID: null }, (res) => {
                var deptOptions = '<option value="00">--ทั้งหมด--</option>';
                $.each(res.result, (i, dept) => {
                    deptOptions += '<option value="' + dept.id + '">' + dept.name + ' (/' + dept.hcode + '/) [' + dept.code + ']</option>';
                });
                $('#departmentPaid').html(deptOptions);
            });
            return Promise.resolve('success');
        }

        async function GetVehicleLevelList() {
            $.post('/Home/GetVehicleLevelList', { refId: null }, (res) => {
                var levelOptions = '<option value="00">--ทั้งหมด--</option>';
                $.each(res.result, (i, level) => {
                    levelOptions += '<option value="' + level.id + '">[' + level.id + '] ' + level.name + '</option>';
                });

                $('#teamLevelPaid').html(levelOptions);
            });
            return Promise.resolve('success');
        }

        function DateEvent() {
            var dateEle = document.getElementsByName('dates');
            $.each(dateEle, (i, ele) => {
                ele.setAttribute('placeholder', moment().format('YYYY-MM-DD'))
            });

            $('#calendarIcon1Paid').on('click', () => {
                $('#startDatePaid').trigger('click');
            });

            $('input[id="startDatePaid"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                maxDate: new Date(),
                autoApply: false,
                locale: {
                    format: 'YYYY-MM-DD',
                    cancelLabel: 'ยกเลิก',
                    applyLabel: 'เลือก'
                }
            });

            $('input[id="startDatePaid"]').on('apply.daterangepicker', (ev, picker) => {
                $('#startDatePaid').val(picker.startDate.format('YYYY-MM-DD'));

                $('#endDatePaid').removeAttr('disabled');

                $('#calendarIcon2Paid').on('click', () => {
                    $('#endDatePaid').trigger('click');
                });

            });

            $('input[id="startDatePaid"]').on('keyup', () => {
                var startDateValue = $('#startDatePaid').val();
                if (startDateValue.length == 0) {
                    $('#endDatePaid').val('');
                    $('#endDatePaid').attr('disabled', 'disabled');

                    $('#calendarIcon2Paid').off('click');
                }
            });

            $('input[id="endDatePaid"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                maxDate: new Date(),
                minDate: moment($('#startDatePaid').val()).format('YYYY-MM-DD'),
                autoApply: false,
                locale: {
                    format: 'YYYY-MM-DD',
                    cancelLabel: 'ยกเลิก',
                    applyLabel: 'เลือก'
                }
            });

            $('input[id="endDatePaid"]').on('apply.daterangepicker', (ev, picker) => {
                //alert(picker.startDate.format('YYYY-MM-DD'));
                $('#endDatePaid').val(picker.startDate.format('YYYY-MM-DD'));
            });

            var inputEle = document.getElementsByTagName('input');
            $.each(inputEle, (i, ele) => {
                ele.setAttribute('autocomplete', 'off');
            });
        }

        function GetDataTable(tableType) {

            var s_Payment_Year, s_Payment_Schedule_ID, s_Province_ID, s_Department_ID, s_Operation_Code, s_Hospital_ID, s_Level_ID, s_T2_Op_Command_Str_start, s_T2_Op_Command_Str_end, s_vehicle_Str;
            var paymentStatus, s_Payment_Status_ID, selectedStatus;
            var tableID;

            s_Payment_Year = $('#fiscalYearPaid').val();
            s_Payment_Schedule_ID = $('#payRoundPaid').val() == "0" ? '0' : $('#payRoundPaid').val();
            s_Province_ID = $('#provincePaid').val() == "0" ? '' : $('#provincePaid').val();
            s_Department_ID = $('#departmentPaid').val() == "00" ? '' : $('#departmentPaid').val();
            s_Operation_Code = $('#operationCodePaid').val();
            s_Hospital_ID = $('#destinationHospitalPaid').val() == "00" ? '' : $('#destinationHospitalPaid').val();
            s_Level_ID = $('#teamLevelPaid').val() == "00" ? '' : $('#teamLevelPaid').val();
            s_T2_Op_Command_Str_start = $('#startDatePaid').val();
            s_T2_Op_Command_Str_end = $('#endDatePaid').val();
            s_vehicle_Str = $('#vehicleStrPaid').val();
            tableID = '#tableOpByProposePaid';
            s_Payment_Status_ID = 5;
            
            var jsonStr = '{' +
                '"s_Payment_Year": ' + s_Payment_Year + ',' +
                '"s_Payment_Schedule_ID": ' + (s_Payment_Schedule_ID == '' ? null : s_Payment_Schedule_ID) + ',' +
                '"s_Province_ID": ' + (s_Province_ID == '' ? null : s_Province_ID) + ',' +
                '"s_Department_ID": ' + (s_Department_ID == '' ? null : s_Department_ID) + ',' +
                '"s_Operation_Code": ' + (s_Operation_Code == '' ? null : '"' + s_Operation_Code + '"') + ',' +
                '"s_Hospital_ID": ' + (s_Hospital_ID == '' ? null : s_Hospital_ID) + ',' +
                '"s_Level_ID": ' + (s_Level_ID == '' ? null : s_Level_ID) + ',' +
                '"s_T2_Op_Command_Str_start": ' + (s_T2_Op_Command_Str_start == '' ? null : '"' + moment(s_T2_Op_Command_Str_start).format('YYYY-MM-DD HH:mm:ss') + '"') + ',' +
                '"s_T2_Op_Command_Str_end": ' + (s_T2_Op_Command_Str_end == '' ? null : '"' + moment(s_T2_Op_Command_Str_end + ' 23:59:59').format('YYYY-MM-DD HH:mm:ss') + '"') + ',' +
                '"s_Payment_Status_ID": ' + (s_Payment_Status_ID == '' ? null : s_Payment_Status_ID) + ',' +
                '"o_By_Condition": "' + s_vehicle_Str + '",' +
                '"skip": 0,' +
                '"take": 0' +
                '}';


            //if($.fn.DataTable.isDataTable('#tableOpByPropose')) {
            //    $('#tableOpByPropose').DataTable().destroy();
            //}
            if ($.fn.DataTable.isDataTable(tableID)) {
                $(tableID).DataTable().destroy();
            }

            $(tableID).DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '/Home/GetDataTableSearchPayment',
                    type: 'POST',
                    data: { 'jsonData': jsonStr }
                },
                columns: [
                    { class: 'text-center align-middle' },
                    { class: 'text-center align-middle' },
                    {},
                    {},
                    { class: 'text-center align-middle' }
                ],
                columnDefs: [
                    {
                        data: null,
                        target: [0],
                        render: (data, type, row) => {
                            var showCheck = '';
                            var paymentStatusId = [4, 5, 6, -3];

                            if (paymentStatusId.includes(row.payment_Status_ID) && row.is_Paid == 0) {
                                if (tableType == 'All') {
                                    showCheck = '<div class="icheck-primary"><input type="checkbox" name="opeCheck" id="' + (row.operation_Code == null ? "" : row.operation_Code) + '" data-opId="' + row.operation_ID + '" /><label for="' + (row.operation_Code == null ? "" : row.operation_Code) + '"></label></div>';
                                }
                            }
                            //return '<div class="icheck-primary"><input type="checkbox" name="opeCheck" id="' + (row.operation_Code == null ? "" : row.operation_Code) + '" data-opId="' + row.operation_ID + '" /><label for="' + (row.operation_Code == null ? "" : row.operation_Code) + '"></label></div>';
                            return showCheck;
                        }
                    },
                    {
                        data: null,
                        target: [1],
                        render: (data, type, row) => {
                            return '<span class="custom-badge-success">' + (row.payment_Status_Str == null ? "" : row.payment_Status_Str) + '</span>';
                        }
                    },
                    {
                        data: null,
                        target: [2],
                        render: (data, type, row) => {
                            var customBadge = '';
                            if (row.level_Str == 'ALS' || row.level_Str == 'CLS' || row.level_Str == 'ILS') {
                                customBadge = 'custom-badge-success';
                            }
                            else if (row.level_Str == 'BLS') {
                                customBadge = 'custom-badge-danger';
                            }
                            else if (row.level_Str == 'FR') {
                                customBadge = 'custom-badge-primary';
                            }

                            var opProgress = '<div class="progress rounded-pill" role="progressbar" aria-label="width label" aria-valuenow="' + (row.operation_Complete_Percentage == null ? "" : row.operation_Complete_Percentage) + '" aria-valuemin="0" aria-valuemax="100">' +
                                '<div class="progress-bar bg-warning " style="width:' + (row.operation_Complete_Percentage == null ? "" : row.operation_Complete_Percentage) + '%">' + (row.operation_Complete_Percentage == null ? "" : row.operation_Complete_Percentage) + '%</div></div>';

                            return '<div class="row">' +
                                '<div class="col-6">เลขปฏิบัติการ</div><div id="' + row.operation_ID + '" class="col-6 opeID">' + (row.operation_Code == null ? "" : row.operation_Code) + '</div>' +
                                '<div class="col-6">วันที่สั่งการ</div><div class="col-6">' + (row.t2_Op_Command_Str == null ? "" : moment(row.t2_Op_Command_Str).format("lll")) + '</div>' +
                                '<div class="col-6">หน่วยปฏิบัติการ</div><div class="col-6">' + (row.department_Str == null ? "" : row.department_Str) + '</div>' +
                                '<div class="col-6">ชุดปฏิบัติการ</div><div class="col-6">' + (row.vehicle_Str == null ? "" : row.vehicle_Str) + '</div>' +
                                '<div class="col-6">ระดับปฏิบัติการ</div><div class="col-6"><span class="' + customBadge + '">' + (row.level_Str == null ? "" : row.level_Str) + '</span></div>' +
                                '<div class="col-6">บริการ</div><div class="col-6">' + (row.service_Str == null ? "" : row.service_Str) + '</div>' +
                                '<div class="col-6">ผู้บันทึกข้อมูลสั่งการ</div><div class="col-6">' + (row.recorder_Fullname == null ? "" : row.recorder_Fullname) + '</div>' +
                                '<div class="col-6">ผู้รับรอง</div><div class="col-6">' + (row.approver_Fullname == null ? "" : row.approver_Fullname) + '</div>' +
                                '<div class="col-6">ความครบถ้วน</div><div class="col-6 my-auto">' + opProgress + '</div>' +
                                '</div>';
                        }
                    },
                    {
                        data: null,
                        target: [3],
                        render: (data, type, row) => {
                            var customBadge = '';
                            if (row.level_Str == 'ALS' || row.level_Str == 'CLS' || row.level_Str == 'ILS') {
                                customBadge = 'custom-badge-success';
                            }
                            else if (row.level_Str == 'BLS') {
                                customBadge = 'custom-badge-danger';
                            }
                            else if (row.level_Str == 'FR') {
                                customBadge = 'custom-badge-primary';
                            }

                            var vicProgress = '<div class="progress rounded-pill" role="progressbar" aria-label="width label" aria-valuenow="' + (row.victim_Complete_Percentage == null ? "" : row.victim_Complete_Percentage) + '" aria-valuemin="0" aria-valuemax="100">' +
                                '<div class="progress-bar bg-warning" style="width:' + (row.victim_Complete_Percentage == null ? "" : row.victim_Complete_Percentage) + '%">' + (row.victim_Complete_Percentage == null ? "" : row.victim_Complete_Percentage) + '%</div></div>';

                            return '<div class="row">' +
                                '<div class="col-6">เลขที่ผู้ป่วย</div><div class="col-6">' + (row.victim_Code == null ? "" : row.victim_Code) + '</div>' +
                                '<div class="col-6">ชื่อผู้ป่วย</div><div class="col-6">' + (row.victim_Fullname == null ? "" : row.victim_Fullname) + '</div>' +
                                '<div class="col-6">นำส่ง รพ.</div><div class="col-6">' + (row.victim_Transfer_Hospital == null ? "" : row.victim_Transfer_Hospital) + '</div>' +
                                '<div class="col-6">HN</div><div class="col-6">' + (row.victim_HN == null ? "" : row.victim_HN) + '</div>' +
                                '<div class="col-6">ประเมิน ER</div><div class="col-6">' + (row.victim_ER_Str == null ? "" : row.victim_ER_Str) + '</div>' +
                                '<div class="col-6">ผลการรักษา</div><div class="col-6">' + (row.victim_Final_Result_Str == null ? "" : row.victim_Final_Result_Str) + '</div>' +
                                '<div class="col-6">ประมาณการค่าตอบแทน</div><div class="col-6"><span class="' + customBadge + '">' + (row.payment_Amount == null ? "" : row.payment_Amount) + '</span> บาท</div>' +
                                '<div class="col-6">ความครบถ้วน</div><div class="col-6 my-auto">' + vicProgress + '</div>' +
                                '</div>';
                        }
                    },
                    {

                        data: null,
                        target: [4],
                        render: (data, type, row) => {
                            // if (tableType == 'All') {
                                //return '<a href="http://192.168.9.36/dispatchupdate/car/' + row.operation_ID + '/print" target="_blank" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>';
                                return '<a href="/Preview/Operation?operationId=' + row.operation_ID + ' "target="_blank" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>';
                                //return '<a href="#" target="_blank" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>';
                            // }
                            return '';

                        }
                    },
                ],
                language: {
                    lengthMenu: 'แสดงผลครั้งละ _MENU_ รายการ',
                    zeroRecords: 'ไม่พบข้อมูลจากการค้นหา',
                    info: '<span class="border rounded-2 p-2">กำลังแสดงรายการที่ <strong>_START_</strong> ถึง <strong>_END_</strong> จากทั้งหมด <strong>_TOTAL_</strong> รายการ</span>',
                    infoFiltered: '<span class="quickApproveTable_info_filtered_span">(จากข้อมูลทั้งหมด _MAX_ รายการ)</span>',
                    search: 'ค้นหา',
                    paginate: {
                        next: 'ต่อไป',
                        previous: 'ย้อนกลับ'
                    },
                    //loadingRecords: 'Please wait - loading...',
                    //processing: '<div class="d-flex justify-content-center"><div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div></div>'
                    processing: '<div id="spn" class="w-100 h-100 top-0 end-0 justify-content-center position-fixed bg-dark opacity-50" style="z-index:9999;">' +
                        '<div class="main-spn top-50"><div></div><div></div><div></div><div></div></div></div>'
                },
                "lengthMenu": [
                    [10, 25, 50, 100, 500], [10, 25, 50, 100, 500]
                ],
                searching: false
            });

            // $('#tableOpByProposePaid_length').append(
            //     '<button id="BtnExcelModal" class="btn btn-outline-success rounded-pill ms-2 py-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">' +
            //     '<img src="../images/icons8-microsoft-excel-96.png" width="25" />' +
            //     '<span>ดาวน์โหลด</span>' +
            //     '</button>'
            // );

            //add click function to report list
            // var repList = document.getElementsByName('reportLink');
            // $.each(repList, (i, link) => {
            //     link.addEventListener('click', () => {
            //         var rep_id = link.getAttribute('data-repID');
            //         testLoadFileStream(rep_id, s_Payment_Schedule_ID);
            //     });
            // });

            return Promise.resolve("Success");
        }

        function Getprofile() {
            //AddSpinner();
            $.post('/Home/GetProfile', (res) => {
                var profileMenu = '<span class="dropdown-item"><i class="fa fa-solid fa-location-dot"></i> ' + res.result.department_Province_Str + '</span>' +
                    '<span class="dropdown-item"><i class="fa fa-solid fa-house-user"></i> ' + res.result.department_Str + '</span>' +
                    '<div class="dropdown-divider"></div><a class="dropdown-item btn btn-danger" href="/Authen/Logout"><i class="fa fa-solid fa-power-off"></i> Logout</a>';

                $('#userName').html(res.result.title + ' ' + res.result.firstName + ' ' + res.result.lastName);
                $('#profileMenu').html(profileMenu);
                //console.log(res);

            }).then(() => {
                setTimeout(() => {
                    //RemoveSpinner();
                }, 500);
            });
        }
        function AddArrowSpinner() {
            $('#spn-load').removeClass('d-none');
            $('#spn-load').addClass('d-flex');
        }
        function RemoveArrowSpinner() {
            $('#spn-load').addClass('d-none');
            $('#spn-load').removeClass('d-flex');
        }
        function AddSpinner() {
            $('#spn').removeClass('d-none');
            $('#spn').addClass('d-flex');
        }
        function RemoveSpinner() {
            $('#spn').addClass('d-none');
            $('#spn').removeClass('d-flex');
        }

    </script>
}