﻿@{
    ViewData["title"] = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="payment" class="pt-3 min-vh-100">
    <h3>การทำจ่าย</h3>
    <div class="card card-success">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ปีงบประมาณ</label>
                        <select id="fiscalYear" class="form-select form-select-sm select2 form-control">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>รอบตั้งเบิก</label>
                        <select id="payRound" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
            </div>
            <div id="loader-spinner" class="mt-3 d-none">
                <span class="loader"></span>
            </div>
            <div id="itemCountLabel" class="mt-3 d-none">
                <span>จำนวนทั้งหมด </span>
                <span id="itemCount"></span>
                <span> รายการ</span>
            </div>
            <div class="mt-3">
                <button id="btnSubmit" class="btn btn-primary">ยืนยันจ่าย</button>
            </div>
        </div>
    </div>
    <div id="download-progress-bar" class="w-100 d-flex justify-content-center invisible">
        <div class="card border-0 bg-transparent shadow-none w-75">
            <div class="card-header border-0 ps-4 pb-0">
                @* <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Processing...</span>
                </div> *@
                <p class="card-title">กำลังดำเนินการ..</p>
            </div>
            <div class="card-body d-flex justify-content-center">
                <div class="download-progress-bar_container position-relative">
                    <span id="progressText" class="m-auto"></span>
                    <div class="download-progress-bar_progress"></div>
                </div>
            </div>
        </div>
    </div>
    
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.post('/Home/CheckToken', function (res) {
                    if (res.message != 'success') {
                        Swal.fire({
                            title: 'Token หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง',
                            text: '',
                            showConfirmButton: true,
                            confirmButtonText: 'ตกลง',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        }).then(() => {
                            location.href = '/Authen/Login';
                        });
                    }
                    else {
                        console.log('Token Expanded : ' + res.message);
                    }
                });
            }, 600000);
            
            $('#fiscalYear').on('change', () => {
                var selectedYear = $('#fiscalYear').val();
                GetPaymentScheduleList(selectedYear, 1 , null);
            });
            GetFiscalYearDropdown();
            Getprofile();

            $('.select2').select2({
                theme: 'bootstrap-5'
            });

            $('#btnSubmit').on('click', () => {
                Swal.fire({
                    title: 'ยืนยันการทำรายการ?',
                    text: 'การทำรายการจะใช้เวลาดำเนินการมาก',
                    icon: 'question',
                    showConfirmButton: true,
                    confirmButtonText: 'ตกลง',
                }).then((result) => {
                    if(result.isConfirmed){
                        console.log('Do the process');
                        //load 10k records
                        var downloadProgressBar = $('#download-progress-bar');
                        downloadProgressBar.removeClass('invisible');
                        GetPaymentData();
                    }
                });
            });

        });
        async function GetPaymentData(){
            var totalRecord = parseInt($('#itemCount').text());
            var jobRound = Math.ceil(totalRecord / 1000);
            // var jobRound = 10;
            var jobCurr = 1;
            var selectedYear = $('#fiscalYear').val();
            var payround = $('#payRound').val();
            const downloadProgressElem = document.querySelector('.download-progress-bar_progress');
            const downloadContainerElem = document.querySelector('.download-progress-bar_container');
            const downloadTextContentElem = document.getElementById('progressText');
            var skipRecord = 0;
            var allItem = 0;
            //run the first 10k rows
            runJobs();

            function runJobs() {
                $.post('/Home/GetPaymentData', { payment_year: selectedYear, payment_schedule_id: payround, skip: skipRecord, take: 1000 }, (res) => {
                   
                    var rSkip = 0, rTake = 100 , rAllItem = 0; //for calculate
                    const putArr = [];
                    const loop = (arr, fn, busy, err, i = 0) => {
                       
                        const body = (ok, er) => {
                            try { const r = fn(arr[i], i, arr); r && r.then ? r.then(ok).catch(er) : ok(r) }
                            catch (e) { er(e) }
                        }
                        const next = (ok, er) => () => loop(arr, fn, ok, er, ++i) //run next
                        // const run = (ok, er) => i < arr.length ? new Promise(body).then(next(ok, er)).catch(er) : ok()
                        const run = (ok, er) => // main fn is run await loop
                        {
                            const divideRound = (i / 100);
                            if ((Number.isInteger(divideRound) && divideRound != 0)) { //every 100 rows update status then wait 2 seconds
                                
                                const opIDs = JSON.stringify(putArr.slice(rSkip, rTake));

                                // console.log(`${divideRound} /subRound: ${subRound} /totalSubRound: ${totalSubRound}`);
                                // console.log(opIDs);
                                    
                                // //update status to Paid
                                $.post('/Home/UpdateToPaid', { payments: opIDs }, (res) => {

                                }).done((res) => {
                                    setTimeout(() => {
                                        console.log('100 rows updated.');
                                        i < arr.length ? new Promise(body).then(next(ok, er)).catch(er) : ok()
                                    }, 2000);
                                }).fail((res) => {
                                    alert(res.message);
                                });

                                subRound++;
                                rSkip += 100;
                                rTake += 100;
                            }
                            else if (i == arr.length) {
                                
                                const opIDs = JSON.stringify(putArr.slice(rSkip, rTake));

                                // console.log(`${divideRound} / ${subRound} / ${totalSubRound}`);
                                console.log(opIDs);

                                // //update status to Paid
                                $.post('/Home/UpdateToPaid', { payments: opIDs }, (res) => {

                                }).done((res) => {
                                    setTimeout(() => {
                                        console.log('other rows updated.');
                                        i < arr.length ? new Promise(body).then(next(ok, er)).catch(er) : ok()

                                    }, 2000);
                                }).fail((res) => {
                                    alert(res.message);
                                });
                            }
                            else{ //run 
                                i < arr.length ? new Promise(body).then(next(ok, er)).catch(er) : ok()
                                
                            }
                            
                        }
                        return busy ? run(busy, err) : new Promise(run)
                    }


                    const loopItems = res.result.data; //all 1k rows
                    const items = loopItems;
                    let subRound = 1, totalSubRound = Math.ceil(items.length / 100);
                    
                    loop(items, item => { //loop 100 rows until 1k rows
                        //rSkip = rSkip + rTake;
                        allItem++;
                        putArr.push(item.operation_ID);
                        //console.log(putArr);
                        //console.info(item);
                        //const chunkItem = res.result.data.slice(rSkip, rTake);
                         
                        //for display progress bar
                        let percentage = (Math.round(allItem * 100) / totalRecord) > 100 ? 100 : Math.round(allItem * 100) / totalRecord;
                        let percentage2Dec = percentage.toFixed(2);
                        downloadTextContentElem.textContent = `${percentage2Dec}% (${allItem}/${totalRecord})`;
                        downloadProgressElem.style.width = `${percentage2Dec}%`;

                    }).then(() => {
                        //console.log(putArr);
                        console.info(`round ${jobCurr} Done!`)
                        
                        //skipRecord = skipRecord + 100; //runJobs next 1k rows *** for show only *** for update set skipRecord to 0 

                        jobCurr++;
                        if (jobCurr <= jobRound) {
                            runJobs();
                        }
                        else{
                            Swal.fire({
                                title: 'ทำรายการเสร็จสิ้นทั้งหมดแล้ว',
                                text: '',
                                icon: 'info',
                                showConfirmButton: true,
                                confirmButtonText: 'ตกลง',
                            }).then(()=>{
                                location.reload();
                            });
                        }
                    });

                }).fail(() => {
                    console.log('error');
                });
            }
            
            return Promise.resolve('success');
        }
        function Getprofile() {
            //AddSpinner();
            $.post('/Home/GetProfile', (res) => {
                var profileMenu = '<span class="dropdown-item"><i class="fa fa-solid fa-location-dot"></i> ' + res.result.department_Province_Str + '</span>' +
                    '<span class="dropdown-item"><i class="fa fa-solid fa-house-user"></i> ' + res.result.department_Str + '</span>' +
                    '<div class="dropdown-divider"></div><a class="dropdown-item btn btn-danger" href="/Authen/Logout"><i class="fa fa-solid fa-power-off"></i> Logout</a>';

                $('#userName').html(res.result.title + ' ' + res.result.firstName + ' ' + res.result.lastName);
                $('#profileMenu').html(profileMenu);
                //console.log(res);

            }).then(() => {
                setTimeout(() => {
                    //RemoveSpinner();
                }, 500);
            });
        }

        async function GetFiscalYearDropdown() {
            var thisYear = moment().format('YYYY');
            var fiscalYearOption = '';
            for (var i = 0; i < 10; i++) {
                fiscalYearOption += '<option value="' + (parseInt(thisYear) - i) + '">' + (parseInt(thisYear) - i) + ' [' + ((parseInt(thisYear) + 543) - i) + ']</option>';
            }
            $('#fiscalYear').html(fiscalYearOption);
            $('#fiscalYear').trigger('change');

            return Promise.resolve('success');
        }
        async function GetPaymentScheduleList(pyear, ptype,publish) {
            $.post('/Home/GetPaymentScheduleList', { type: ptype, year: pyear, is_publish: publish }, (res) => {

                var options = '<option value="">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.schedule_ID + '">' + res.schedule_Detail + '</option>';
                });

                $('#payRound').html(options);

                $('#payRound').on('change', () => {
                    var selectedRound = $('#payRound').val();
                    $('#loader-spinner').removeClass('d-none');
                    GetItemsCount();
                });
            });
            return Promise.resolve('success');
        }
        async function GetItemsCount(){
            var selectedYear = $('#fiscalYear').val();
            var payround = $('#payRound').val();
            var itemCountLabel = $('#itemCountLabel');
            $.post('/Home/GetPaymentData', { payment_year: selectedYear, payment_schedule_id: payround, skip: 0, take: 5 }, (res) => {
                const itemsCountLabel = res.result.count.toLocaleString();
                $('#itemCount').html(itemsCountLabel);
                itemCountLabel.removeClass('d-none');
                $('#loader-spinner').addClass('d-none');
            });
            return Promise.resolve('success');
        }
    </script>
}