﻿@{
    ViewData["Title"] = "E-Budget - Publish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pt-3 min-vh-100">
    <h3>ประกาศแจ้งการโอนเงินค่าชดเชยการปฏิบัติการฉุกเฉินทางบก</h3>
    <div class="card card-outline card-success">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label>ปีงบประมาณ</label>
                        <select id="fiscalYear" class="form-select form-select-sm select2 form-control">
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>รอบจ่าย</label>
                        <select id="payRound" class="form-select form-select-sm select2">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-outline card-success">
        <div class="card-body">
            <h3>ร่างเอกสารสำหรับประกาศแจ้ง</h3>
            <div class="row">
                <div class="col-2">
                    <div class="form-group">
                        <label>เอกสารเริ่มเลขที่</label>
                        <div class="row">
                            <div class="col-5">
                                สพฉ.04 /
                            </div>
                            <div class="col-7">
                                <input id="DocNoStart" class="form-control" maxlength="5" onkeypress="return NumberOnly(event)" onkeydown="return ctrlV_detect(event)" />
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>วันที่เอกสาร</label>
                        <div class="input-group">
                            <input id="DocDate" type="text" name="dates" class="form-control" aria-label="DocDate" aria-describedby="calendarIcon1" />
                            <span class="input-group-text" id="calendarIcon1"><i class="fa-regular fa-calendar-days"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <label>วันทีดำเนินการเสร็จสิ้น</label>
                        <div class="input-group">
                            <input id="EndDate" type="text" name="dates" class="form-control" aria-label="EndDate" aria-describedby="calendarIcon2" />
                            <span class="input-group-text" id="calendarIcon2"><i class="fa-regular fa-calendar-days"></i></span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>เรื่องเอกสาร</label><br />
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="docType1" name="DocType" data-DocId="1" checked="true" />
                            <label for="docType1">อัตโนมัติ</label>
                        </div>
                        <div class="icheck-primary d-inline mt-1">
                            <input type="radio" id="docType2" name="DocType" data-DocId="2" />
                            <label for="docType2">กำหนดเอง</label>
                        </div>
                    </div>
                </div>
                <div id="CustomTitle" class="col-3 d-none">
                    <div class="form-group">
                        <label>เรื่องเอกสาร</label>
                        <input id="DocTitle" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    @* <div class="form-group">
                        <label>ลายเซ็นผู้อนุมัติ</label>
                        <input id="ApprovedSignature" type="file" class="form-control" />
                    </div> *@
                    <div class="form-group">
                        <label class="" for="">ลายเซ็นผู้อนุมัติ</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" style="height:31.59px;" class="form-control-file" id="ApprovedSignature">
                                <label id="showInputText" style="height:31.59px; padding:.275rem .75rem;" class="custom-file-label text-nowrap" for="ApprovedSignature">เลือกไฟล์</label>
                                <input type="hidden" id="file_attachment" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อ-สกุล ผู้อนุมัติ</label>
                        <input id="ApprovedFullName" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ตำแหน่งผู้อนุมัติ</label>
                        <input id="ApprovedPosition" class="form-control" />
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label>ชื่อ-สกุล ผู้รับผิดชอบ</label>
                        <input id="RespondentFullName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center mt-5">
                <div class="w-25 d-flex justify-content-evenly">
                    <button id="btnPublish" class="btn btn-primary ">เผยแพร่</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/th.min.js" integrity="sha512-IiSJKJyOVydT9/jfVcnpg7PIUM41Be6YzR5bTiAEAEQxTVtnUhbhiSNtgGXmOTFoxYpYs+LdxWlELOK7iRVVBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $.post('/Home/CheckToken', function (res) {
                    if (res.message != 'success') {
                        Swal.fire({
                            title: 'Token หมดอายุ กรุณาเข้าสู่ระบบอีกครั้ง',
                            text: '',
                            showConfirmButton: true,
                            confirmButtonText: 'ตกลง',
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        }).then(() => {
                            location.href = '/Authen/Login';
                        });
                    }
                    else {
                        console.log('Token Expanded : ' + res.message);
                    }

                });
            }, 600000);
            $('#fiscalYear').on('change', () => {
                var selectedYear = $('#fiscalYear').val();
                GetPaymentScheduleList(selectedYear, 2, 0);
            });
            GetFiscalYearDropdown();

            GetProvince();

            $('.select2').select2({
                theme: 'bootstrap-5'
            });

            DateEvent();

            Getprofile();

            const titleType = document.getElementsByName("DocType");
            $.each(titleType, (i, title) => {
                title.addEventListener('click', () => {
                    var checked = title.getAttribute('data-DocId');
                    if (checked == 2) {
                        $("#CustomTitle").removeClass('d-none');
                    }
                    else {
                        if (!$("#CustomTitle").hasClass('d-none')) {
                            $("#CustomTitle").addClass('d-none');
                        }
                    }
                });
                
            });

            $('#btnPublish').on('click', () => {
                PublishDepartment();
            });

            var base64Result = '';
            $('#ApprovedSignature').change(function () {
                base64Result = '';
                if ($('#file_attachment').val()) {
                    $('#file_attachment').val("");
                }
                //loop file here
                var files = document.querySelector('#ApprovedSignature').files;
                var fileCount = files.length;
                if (files) {
                    //Array.prototype.forEach.call(files, getBase64);
                    for (var f = 0; f < fileCount; f++) {
                        getBase64(files[f]);
                        
                    }
                }
            });
            function getBase64(file) {
                var reader = new FileReader();
                var filename = file.name;
                var filetype = file.type;
                var retStr = '';
                reader.addEventListener("load", () => {
                    var x = $('#file_attachment').val();
                    base64Result = x + filename + '|' + filetype +'|' + reader.result;
                    // var readerSplit = reader.result.split(',');
                    // base64Result = readerSplit[1];
                    $('#file_attachment').val(base64Result.toString());
                    $('#showInputText').text(filename);
                    // console.log(base64Result);

                }, false);
                reader.readAsDataURL(file);
                
            }
            
        });
        async function GetFiscalYearDropdown() {
            var thisYear = moment().format('YYYY');
            var fiscalYearOption = '';
            for (var i = 0; i < 10; i++) {
                fiscalYearOption += '<option value="' + (parseInt(thisYear) - i) + '">' + (parseInt(thisYear) - i) + ' [' + ((parseInt(thisYear) + 543) - i) + ']</option>';
            }
            $('#fiscalYear').html(fiscalYearOption);

            $('#fiscalYear').trigger('change');

            return Promise.resolve('success');
        }
        async function GetPaymentScheduleList(pyear, ptype, is_publish) {
            $.post('/Home/GetPaymentScheduleList', { type: ptype, year: pyear, is_publish: is_publish }, (res) => {

                var options = '<option value="0">--ทั้งหมด--</option>';
                $.each(res.result, (i, res) => {
                    options += '<option value="' + res.schedule_ID + '">' + res.schedule_Name + '</option>';
                });

                $('#payRound').html(options);

            });
            return Promise.resolve('success');
        }

        async function GetProvince() {
            $.post('/Home/Getprovince', (res) => {
                var pvOptions = '<option value="0">--ทั้งหมด--</option>';
                $.each(res.result, (i, pv) => {
                    pvOptions += '<option value="' + pv.id + '">[' + pv.code + '] ' + pv.name + '</option>';
                });

                $('#province').html(pvOptions);
            });
            return Promise.resolve('success');
        }
        function Getprofile() {
            //AddSpinner();
            $.post('/Home/GetProfile', (res) => {
                var profileMenu = '<span class="dropdown-item"><i class="fa fa-solid fa-location-dot"></i> ' + res.result.department_Province_Str + '</span>' +
                    '<span class="dropdown-item"><i class="fa fa-solid fa-house-user"></i> ' + res.result.department_Str + '</span>' +
                    '<div class="dropdown-divider"></div><a class="dropdown-item btn btn-danger" href="/Authen/Logout"><i class="fa fa-solid fa-power-off"></i> Logout</a>';

                $('#userName').html(res.result.title + ' ' + res.result.firstName + ' ' + res.result.lastName);
                $('#profileMenu').html(profileMenu);
                //console.log(res);

            }).then(() => {
                setTimeout(() => {
                    //RemoveSpinner();
                }, 500);
            });
        }
        
        function PublishDepartment(){
            var schedule_ID, doc_start_no, doc_date_str, doc_title,
            finish_date_str, sign_pic_name, sign_pic_ext,
                sign_pic_str64, sign_name, sign_position, responsible_name;

            schedule_ID = $('#payRound').val() == "0" ? '0' : $('#payRound').val();
            doc_start_no = $('#DocNoStart').val();
            doc_date_str = $('#DocDate').val();
            doc_title = $('#DocTitle').val();
            finish_date_str = $('#EndDate').val();

            var fileStr = $('#file_attachment').val();
            var fileArr = fileStr.split('|');

            sign_pic_name = fileArr[0];

            var fileType = fileArr[1].split('/');
            sign_pic_ext = '.' + fileType[1];

            var base64Splt = fileArr[2].split(',');
            sign_pic_str64 = base64Splt[1];

            sign_name = $('#ApprovedFullName').val();
            sign_position = $('#ApprovedPosition').val();
            responsible_name = $('#RespondentFullName').val();

            var JsonData = '{' +
                '"schedule_ID": ' + schedule_ID + ',' +
                '"doc_start_no": ' + doc_start_no + ',' +
                '"doc_date_str": "' + doc_date_str + '",' +
                '"doc_title": "' + doc_title + '",' +
                '"finish_date_str": "' + finish_date_str + '",' +
                '"sign_pic_name": "' + sign_pic_name + '",' +
                '"sign_pic_ext": "' + sign_pic_ext + '",' +
                '"sign_pic_str64": "' + sign_pic_str64 + '",' +
                '"sign_name": "' + sign_name + '",' +
                '"sign_position": "' + sign_position + '",' +
                '"responsible_name": "' + responsible_name +
                '"}';

            $.post('/Home/PublishDepartmentPaidReport', { Jsondata: JsonData }, (res) => {
                if (res.result == true) {
                    Swal.fire({
                        title: 'ผลการประกาศแจ้ง',
                        text: res.message,
                        showConfirmButton: true,
                        confirmButtonText: 'ตกลง'
                    }).then(() => {
                        location.href = '/Home/PublishDepartment';
                    });
                }
                else {
                    Swal.fire({
                        title: 'ผลการประกาศแจ้ง',
                        text: res.message,
                        showConfirmButton: true,
                        confirmButtonText: 'ตกลง'
                    });
                }
                
            })
            // console.log(JsonData);
        }

        function DateEvent() {
            var dateEle = document.getElementsByName('dates');
            $.each(dateEle, (i, ele) => {
                ele.setAttribute('placeholder', moment().format('YYYY-MM-DD'))
            });


            $('#calendarIcon1').on('click', () => {
                $('#DocDate').trigger('click');
            });

            $('#calendarIcon2').on('click', () => {
                $('#EndDate').trigger('click');
            });


            $('input[id="DocDate"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                maxDate: new Date(),
                autoApply: true,
                locale: {
                    format: 'YYYY-MM-DD',
                    cancelLabel: 'ยกเลิก',
                    applyLabel: 'เลือก'
                }
            });


            $('input[id="DocDate"]').on('apply.daterangepicker', (ev, picker) => {
                $('#DocDate').val(picker.startDate.format('YYYY-MM-DD'));

                $('#calendarIcon2').on('click', () => {
                    $('#EndDate').trigger('click');
                });

            });

            $('input[id="EndDate"]').daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: false,
                maxDate: new Date(),
                minDate: moment($('#DocDate').val()).format('YYYY-MM-DD'),
                autoApply: true,
                locale: {
                    format: 'YYYY-MM-DD',
                    cancelLabel: 'ยกเลิก',
                    applyLabel: 'เลือก'
                }
            });
           
            $('input[id="EndDate"]').on('apply.daterangepicker', (ev, picker) => {
                //alert(picker.startDate.format('YYYY-MM-DD'));
                $('#EndDate').val(picker.startDate.format('YYYY-MM-DD'));
            });

            var inputEle = document.getElementsByTagName('input');
            $.each(inputEle, (i, ele) => {
                ele.setAttribute('autocomplete', 'off');
            });
        }
        function NumberOnly(event) {
            var charCode = event.charCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }
        function ctrlV_detect() {
            var charCode = event.which || event.charCode;
            var ctrlDown = event.ctrlKey ? event.ctrlKey : ((charCode === 17) ? true : false);
            var cmdKey = 91,
                vKey = 86,
                cKey = 67;
            //console.log("Ctrl+V is :" + ctrlDown + "/ CharCode is:" + charCode);
            if (ctrlDown && charCode == vKey)
                
                return false;
            else
                //console.log('none ctrl');
                return true;

        }
        function AddSpinner() {
            $('#spn').removeClass('d-none');
            $('#spn').addClass('d-flex');
        }
        function RemoveSpinner() {
            $('#spn').addClass('d-none');
            $('#spn').removeClass('d-flex');
        }
    </script>
}