﻿@model NiemsEBudget.Models.YellowOperationResultPreviewPage;
@{
    Layout = "~/Views/Shared/_PreviewLayout.cshtml";
    ViewBag.Title = "Operation";
}

<div id="root">
    <div class="Toastify"></div>
    <div class="css-1qwvt4e">
        <div class="_customFont_o0gkq_25">
            <div class="container">
                @if (Model.sec5?.vehicleLevelName == "ALS")
                {
                    <a class="btn btn-outline-light mt-3" href="/Preview/Green?op=@Model.sec1.eventOperationId&victimId=@Model.sec8?.victims?[0].id" target="_blank">แบบันทึกผู้ป่วย : (ALS) @Model.sec8?.victims?[0].victimFirstname @Model.sec8?.victims?[0].victimLastname</a>
                }
                else if (Model.sec5?.vehicleLevelName == "BLS")
                {
                    <a class="btn btn-outline-light mt-3" href="/Preview/Pink?op=@Model.sec1.eventOperationId&victimId=@Model.sec8?.victims?[0].id" target="_blank">แบบันทึกผู้ป่วย : (BLS) @Model.sec8?.victims?[0].victimFirstname @Model.sec8?.victims?[0].victimLastname</a>
                }
                else if (Model.sec5?.vehicleLevelName == "CLS")
                {
                    <a class="btn btn-outline-light mt-3" href="/Preview/Green?op=@Model.sec1.eventOperationId&victimId=@Model.sec8?.victims?[0].id" target="_blank">แบบันทึกผู้ป่วย : (CLS) @Model.sec8?.victims?[0].victimFirstname @Model.sec8?.victims?[0].victimLastname</a>
                }
                else if (Model.sec5?.vehicleLevelName == "ILS")
                {
                    <a class="btn btn-outline-light mt-3" href="/Preview/Green?op=@Model.sec1.eventOperationId&victimId=@Model.sec8?.victims?[0].id" target="_blank">แบบันทึกผู้ป่วย : (ILS) @Model.sec8?.victims?[0].victimFirstname @Model.sec8?.victims?[0].victimLastname</a>
                }
                else{
                    <a class="btn btn-outline-light mt-3" href="/Preview/Blue?op=@Model.sec1.eventOperationId&victimId=@Model.sec8?.victims?[0].id" target="_blank">แบบันทึกผู้ป่วย : (FR) @Model.sec8?.victims?[0].victimFirstname @Model.sec8?.victims?[0].victimLastname</a>
                }
            </div>
            <div class="_customContainer_o0gkq_46 container mt-3" style="background-color: #feff99;">
                <div class="text-center row">
                    <span class="_boldText_o0gkq_16"
                          style="font-size: 17px;">
                        แบบบันทึกการรับแจ้งเหตุและสั่งการการแพทย์ฉุกเฉิน จังหวัด @Model.sec1.provinceName
                    </span>
                </div>
                <div class="row">
                    <div class="text-start col jus">
                        <span class="_boldText_o0gkq_16">
                            ๑. ข้อมูลทั่วไป วันที่ <span class="dotLabel dotWidth"> @Model.sec1.eventTime</span>
                        </span>
                    </div>
                    <div class="text-center col">
                        <span class="_boldText_o0gkq_16">เลขที่ปฏิบัติการ(ON) 
                            <span class="dotLabel dotWidth"> @Model.sec1.operationCode</span>
                        </span>
                     </div>
                    <div class="text-center col">
                        <span class="_boldText_o0gkq_16">ลำดับผู้ป่วย(CN) 
                            <span class="dotLabel dotWidth"> - </span>
                        </span>
                        <br /><span>PUI Number -</span>
                    </div>
                </div>
                <table class="_customTable_o0gkq_40 table table-borderless"
                       style="border:1px solid gray;">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-2 col-md-1 col-sm-1 col-1">
                                        <span>รับแจ้งเหตุ &nbsp;</span>
                                    </div>
                                    <div class="col">
                                        @*@{
                                            string? ch1, ch2, ch3, ch4, ch5 = "";
                                            if(Model.sec1.eventChannel == 1){
                                                ch1 = "checked";
                                            }
                                        }*@
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="channel" class="form-check-input">
                                            <label title="" class="">โทรศัพท์หมายเลข ๑๖๖๙ (๑)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="channel" class="form-check-input">
                                            <label title="" class="">โทรศัพท์หมายเลข ๑๖๖๙ (second call) (๒)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="channel" class="form-check-input">
                                            <label title="" class="">โทรศัพท์หมายเลขอื่นๆ (๓)</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="channel" class="form-check-input">
                                            <label title="" class="">วิทยุสื่อสาร</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="channel" class="form-check-input">
                                            <label title="" class="">วิธีอื่นๆ</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <span>ชื่อ/รหัสผู้แจ้ง 
                                            <span class="dotLabel dotWidth"> @Model.sec1.callerName</span>
                                        </span>
                                    </div>
                                    <div class="col">
                                        <span>โทรศัพท์ผู้แจ้ง/ความถี่วิทยุ 
                                            <span class="dotLabel dotWidth"> @Model.sec1.callerNumber</span>
                                        </span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="row">
                                    <span>สถานที่เกิดเหตุ :@Model.sec1.addrDetail @Model.sec1.subDistrictName @Model.sec1.districtName @Model.sec1.provinceName</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-left row">
                    <span class="_boldText_o0gkq_16">
                        ๒.อาการนำสำคัญของผู้ป่วยฉุกเฉินที่ได้จากการรับแจ้ง
                    </span>
                </div>
                <table class="table table-borderless"
                       style="border:1px solid gray;">
                    <tbody>
                        <tr>
                            <td>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑.ปวดท้อง หลัง เชิงกราน และขาหนีบ</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๒.แอนนาฟิแลกซิส ปฏิกิริยาภูมิแพ้/แมลงกัด</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๓.สัตว์กัด</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๔.เลือดออกไม่ใช่จากการบาดเจ็บ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๕.หายใจลำบาก</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๖.หัวใจหยุดเต้น</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๗.เจ็บแน่นทรวงอก หัวใจ</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๘.สำลักอุดทางเดินหายใจ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๙.เบาหวาน</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๐.อันตรายจากสภาพแวดล้อม</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๑.อื่นๆ (๔)</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๒.ปวดศีรษะ ลำคอ</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๓.คลุ้มคลั่ง จิตประสาท อารมณ์</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๔.ยาเกินขนาด ได้รับพิษ</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๕.มีครรภ์ คลอด นรีเวช</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๖.ชัก</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๗.ป่วย อ่อนเพลีย</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๘.อัมพาต (หลอดเลือดสมองตีบแตก)</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๑๙.หมดสติ ไม่ตอบสนอง หมดสติชั่ววูบ</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๒๐.เด็ก ทารก (กุมารเวชกรรม)</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๒๑.ถูกทำร้าย บาดเจ็บ</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๒๒.ไฟไหม้ ลวก ความร้อน กระแสไฟฟ้า สารเคมี</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๒๓.จมน้ำ หน้าคว่ำจมน้ำ บาดเจ็บเหตุดำน้ำ บาดเจ็บทางน้ำ</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๒๔.พลัดตกหกล้ม/อุบัติเหตุ/เจ็บปวด</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="cbd" class="form-check-input">
                                            <label title="" class="">๒๕.อุบัติเหตุยานยนต์</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row mb-1">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <span class="_boldText_o0gkq_16">
                            ๓.อาการ/เหตุการณ์/รายละเอียดอื่นๆ
                        </span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                        <span class="dotLabel"> 
                            @Model.sec3.stateDetail
                        </span>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-6">
                        <span class="_boldText_o0gkq_16">
                            ๔.
                            การให้รหัสความรุนแรง IDC (Incident Dispatch Code) (๕)
                        </span>
                    </div>
                    <div class="col-lg-8 col-md-4 col-sm-4 col-4">
                      
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="stateColor" class="form-check-input">
                            <label title="" class="">แดง(วิกฤติ)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="stateColor" class="form-check-input">
                            <label title="" class="">เหลือง(เร่งด่วน)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="stateColor" class="form-check-input">
                            <label title="" class="">เขียว(ไม่รุนแรง)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="stateColor" class="form-check-input">
                            <label title="" class="">ขาว(ทั่วไป)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="stateColor" class="form-check-input">
                            <label title="" class="">ดำ(รับบริการสาธารณสุขอื่น)</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-1">
                    <span class="_boldText_o0gkq_16">
                        ๕. การสั่งการ
                        (โดยการเห็นชอบของหัวหน้าศูนย์ฯ)
                    </span>
                </div>
                <table class="table table-borderless"
                       style="border:1px solid gray;">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <div class="row">
                                    <div class="col-3"><span>ชนิดยานพาหนะ(๗)</span></div>
                                    <div class="col">
                                        <div class="form-check">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">รถ</label>
                                        </div>
                                        <div class="form-check ">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">อากาศยาน</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือ ป.๑</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือ ป.๒</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือ ป.๓</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือประเภทอื่นๆ</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @*<td>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">รถ</label>
                                        </div>
                                        <div class="form-check ">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">อากาศยาน</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือ ป.๑</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือ ป.๒</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือ ป.๓</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input disabled type="checkbox" name="vtype" class="form-check-input">
                                            <label title="" class="">เรือประเภทอื่นๆ</label>
                                        </div>
                                        
                                    </div>
                                </div>
                            </td>*@
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span>ชื่อหน่วยปฏิบัติการ
                                    <span class="dotLabel"> @Model.sec5.departmentName</span>
                                </span>
                                <span>ชื่อชุดปฏิบัติการ
                                    <span class="dotLabel"> @Model.sec5.vehicleName</span>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="width: 100%; padding: 5px;">
                                    <table id="operationTimeAndDistant" class="table table-bordered text-center" cellpadding="0" cellspacing="0" style="border:1px solid gray; width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td style="width: 12.5%;">รับแจ้ง</td>
                                                <td style="width: 12.5%;">สั่งการ</td>
                                                <td style="width: 12.5%;">ออกจากฐาน</td>
                                                <td style="width: 12.5%;">ถึงที่เกิดเหตุ</td>
                                                <td style="width: 12.5%;">ออกจากที่เกิดเหตุ</td>
                                                <td style="width: 12.5%;">ถึงรพ.</td>
                                                <td style="width: 12.5%;">ถึงฐาน</td>
                                            </tr>
                                            <tr>
                                                <td>เวลา (น.)</td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sec5.time1Call))
                                                    {
                                                        var timeSplit = Model.sec5.time1Call.Split("T");
                                                        <span>@timeSplit[0]</span><br />
                                                        <span class="dotLabel dotWidth_time">@timeSplit[1] น.</span>
                                                    }
                                                    else{
                                                        <span class="dotLabel dotWidth_time">-</span>
                                                    }
                                                            
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sec5.time2Command))
                                                    {
                                                        var timeSplit = Model.sec5.time2Command.Split("T");
                                                        <span>@timeSplit[0]</span><br />
                                                        <span class="dotLabel dotWidth_time">@timeSplit[1] น.</span>
                                                    }
                                                    else{
                                                        <span class="dotLabel dotWidth_time">-</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sec5.time3OutBase))
                                                    {
                                                        var timeSplit = Model.sec5.time3OutBase.Split("T");
                                                        <span>@timeSplit[0]</span>

                                                        <br />
                                                        <span class="dotLabel dotWidth_time">@timeSplit[1] น.</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="dotLabel dotWidth_time">-</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sec5.time4AtPoint))
                                                    {
                                                        var timeSplit = Model.sec5.time4AtPoint.Split("T");
                                                        <span>@timeSplit[0]</span>

                                                        <br />
                                                        <span class="dotLabel dotWidth_time">@timeSplit[1] น.</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="dotLabel dotWidth_time">-</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sec5.time5OutPoint))
                                                    {
                                                        var timeSplit = Model.sec5.time5OutPoint.Split("T");
                                                        <span>@timeSplit[0]</span>

                                                        <br />
                                                        <span class="dotLabel dotWidth_time">@timeSplit[1] น.</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="dotLabel dotWidth_time">-</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sec5.time6AtHos))
                                                    {
                                                        var timeSplit = Model.sec5.time6AtHos.Split("T");
                                                        <span>@timeSplit[0]</span>

                                                        <br />
                                                        <span class="dotLabel dotWidth_time">@timeSplit[1] น.</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="dotLabel dotWidth_time">-</span>
                                                    }
                                                </td>
                                                <td>
                                                    @if (!String.IsNullOrEmpty(Model.sec5.time7AtBase))
                                                    {
                                                        var timeSplit = Model.sec5.time7AtBase.Split("T");
                                                        <span>@timeSplit[0]</span>

                                                        <br />
                                                        <span class="dotLabel dotWidth_time">@timeSplit[1] น.</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="dotLabel dotWidth_time">-</span>
                                                    }
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">รวมเวลา (นาที)</td>
                                                <td colspan="4" rowspan="2">Response time =
                                                    <span id="resTime"></span>
                                                </td>
                                                <td colspan="2" class="text-center">
                                                    <span id="resTime2"></span>
                                                </td>
                                                <td style="background-color: gray;"></td>
                                            </tr>
                                            <tr>
                                                <td style="background-color: gray;"></td>
                                                <td colspan="2">
                                                    <span id="resTime3"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>เลข กม.</td>
                                                <td colspan="3">
                                                    <span>@Model.sec5.km1AtBase</span>
                                                </td>
                                                <td colspan="2">
                                                    <span>@Model.sec5.km2AtPoint</span>
                                                </td>
                                                <td>
                                                    <span class="_setlabelshort_o0gkq_90 _dottedborderbottom_o0gkq_57" style="width: 50%;">
                                                        <span>@Model.sec5.km3AtHos</span>
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="_setlabelshort_o0gkq_90 _dottedborderbottom_o0gkq_57" style="width: 50%;">
                                                        <span>@Model.sec5.km4AtBase</span>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">ระยะทาง (กม.)</td>
                                                <td colspan="4" rowspan="2">
                                                    @{
                                                        var goOut = Model.sec5.km2AtPoint - Model.sec5.km1AtBase;
                                                        var comeBack = Model.sec5.km4AtBase - Model.sec5.km3AtHos;
                                                        var goHos = Model.sec5.km3AtHos - Model.sec5.km2AtPoint;
                                                    }
                                                    รวมระยะทางไป <span id=""> @goOut กม.</span>
                                                </td>
                                                <td style="background-color: gray;"></td>
                                                <td colspan="2">
                                                    ระยะทางกลับ<span> @comeBack กม.</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    ระยะทางไป รพ.<span> @goHos กม.</span>
                                                </td>
                                                <td style="background-color: gray;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr style="">
                            @*<td >ทีมผู้ปฏิบัติการ<span>  @Model.sec5.departmentName</span></td>
                            <td>
                                
                                <div class="row w-100">
                                    <div class="col-2 ps-4">แพทย์</div>
                                    <div class="col-10 dotLabel dotWidth">@Model.sec5.staff4DocName</div>
                                </div>
                            </td>*@
                            <td colspan="2">
                                <div class="row w-100">
                                    <div class="col">
                                        ทีมผู้ปฏิบัติการ<span>  @Model.sec5.departmentName</span>
                                    </div>
                                    <div class="col-8">
                                        <div class="row w-100">
                                            <div class="col-2 ps-4">แพทย์</div>
                                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff4DocName</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="row w-100">
                                    <div class="col">
                                        
                                    </div>
                                    <div class="col-8">
                                        <div class="row w-100">
                                            <div class="col-2 ps-4">พยาบาล</div>
                                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff5NurseName</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="">
                            <td colspan="2">
                                <div class="row w-100">
                                    <div class="col">
                                        
                                    </div>
                                    <div class="col-8">
                                        <div class="row w-100">
                                            <div class="col-2 ps-4">เจ้าหน้าที่ ๑</div>
                                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff1Name</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="">
                            <td colspan="2">
                                <div class="row w-100">
                                    <div class="col">
                                        
                                    </div>
                                    <div class="col-8">
                                        <div class="row w-100">
                                            <div class="col-2 ps-4">เจ้าหน้าที่ ๒</div>
                                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff2Name</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="margin-bottom: 10px;">
                            <td colspan="2">
                                <div class="row w-100">
                                    <div class="col">
                                    </div>
                                    <div class="col-8">
                                        <div class="row w-100 pb-2">
                                            <div class="col-2 ps-4">เจ้าหน้าที่ ๓</div>
                                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff3Name</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*<div class="row my-2">
                    <div class="col">
                        ทีมผู้ปฏิบัติการ<span>  @Model.sec5.departmentName</span>
                    </div>
                    <div class="col-8">
                        <div class="row w-100">
                            <div class="col-2 ps-4">แพทย์</div>
                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff4DocName</div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        
                    </div>
                    <div class="col-8">
                        <div class="row w-100">
                            <div class="col-2 ps-4">พยาบาล</div>
                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff5NurseName</div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                       
                    </div>
                    <div class="col-8">
                        <div class="row w-100">
                            <div class="col-2 ps-4">เจ้าหน้าที่ ๑</div>
                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff1Name</div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                       
                    </div>
                    <div class="col-8">
                        <div class="row w-100">
                            <div class="col-2 ps-4">เจ้าหน้าที่ ๒</div>
                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff2Name</div>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        
                    </div>
                    <div class="col-8">
                        <div class="row w-100">
                            <div class="col-2 ps-4">เจ้าหน้าที่ ๓</div>
                            <div class="col-10 dotLabel dotWidth">@Model.sec5.staff3Name</div>
                        </div>
                    </div>
                </div>*@

                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <span>๖. การให้รหัสความรุนแรง ณ จุดเกิดเหตุ RC (Response Code)(๖)</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="rcState" class="form-check-input">
                            <label title="" class="">แดง(วิกฤติ)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="rcState" class="form-check-input">
                            <label title="" class="">เหลือง(เร่งด่วน)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="rcState" class="form-check-input">
                            <label title="" class="">เขียว(ไม่รุนแรง)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="rcState" class="form-check-input">
                            <label title="" class="">ขาว(ทั่วไป)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input disabled type="checkbox" name="rcState" class="form-check-input">
                            <label title="" class="">ดำ รหัส</label><span class="ms-3">-</span>
                        </div>
                    </div>
                </div><span>๗. การปฏิบัติ</span>
                <table class="table table-bordered" style="border-width: 1px; border-color: black; font-size:.85rem!important;">
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" id="hasService" class="form-check-input">
                                    <label title="" class="">มีการรักษา</label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" id="noService" class="form-check-input">
                                    <label title="" class="">ไม่มีการรักษา</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">รักษา-นำส่ง</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">รักษา-ส่งต่อชุดบริการที่สูงกว่า</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">รักษา-ไม่นำส่ง</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">รักษา-เสียชีวิต</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">รักษา-นำส่งเสียชีวิต</label>
                                </div>
                                
                            </td>
                            <td>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">ผู้ป่วยปฏิเสธ</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">ไม่พบเหตุ</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">เสียชีวิตก่อนถึง</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="services" class="form-check-input">
                                    <label title="" class="">ยกเลิก</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span>๘. ชื่อผู้ป่วย  @Model.sec8.victims[0].victimFirstname @Model.sec8.victims[0].victimLastname</span><br />
                <span>๙. เพิ่มเติม เฉพาะ อาการนำสำคัญของผู้ป่วยฉุกเฉินที่ได้จากการรับแจ้ง เป็นรหัส ๒๕ อุบัติเหตุยานยนต์ </span>
                <table class="table table-bordered mt-1" style="border:1px solid gray;">
                    <tbody>
                        <tr>
                            <td style="border-width: 0px;">
                                <span>ทะเบียนรถหมวด <span class="dotLabel dotWidth_time"> @Model.sec9.icarLabelGroup</span></span>
                                <span>เลขทะเบียน <span class="dotLabel dotWidth_time"> @Model.sec9.icarLabelNumber</span></span>
                                <span>จังหวัด <span class="dotLabel dotWidth_time"> @Model.sec9.icarLabelProvinceName</span></span>
                            </td>
                            <td style="border-width: 0px;">
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="isCarOwner" class="form-check-input">
                                    <label title="" class="">ของคู่กรณี</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="isCarOwner" class="form-check-input">
                                    <label title="" class="">ของผู้ประสบเหตุ</label>
                                </div>
                                <div class="form-check-inline">
                                    <input disabled type="checkbox" name="isCarOwner" class="form-check-input">
                                    <label title="" class="">ไม่สามารถระบุได้</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row my-3" style="text-align: center;">
                    <div class="col-lg-6">
                        <span style="text-align: center;">
                            ลงนาม 
                            <span class="px-3 dotLabel dotWidth">   @Model.sec9.createdByName   </span>
                            เจ้าหน้าที่ผู้บันทึก
                        </span>
                    </div>
                    <div class="col-lg-6">
                        <span style="text-align: center;">
                            ลงนาม 
                            <span class="px-3 dotLabel dotWidth">   @Model.sec9.approveByName   </span> 
                            ผู้รับรอง (แพทย์หรือพยาบาล)
                        </span>
                    </div>
                </div>
                <div class="row pb-3" style="margin-top: 10px;">
                    <span>
                        (๑) โทรศัพท์หมายเลข ๑๖๖๙ หมายถึง
                        การรับแจ้งเพื่อขอรับความช่วยเหลือทางการแพทย์โดยตรงผ่านทสงหมายเลข ๑๖๖๙ (First
                        call)
                    </span><span>
                        (๒) โทรศัพท์หมายเลข ๑๖๖๙
                        ในกรณีที่ผู้แจ้งโดยวิธีอื่นๆผ่านไปยังบุคคล/หน่วยงานอื่น
                        แล้วบุคคล/หน่วยงานอื่นนั้นได้แจ้งต่อมายังหมายเลข ๑๖๖๙ (Second call)
                    </span><span>
                        (๓)
                        โทรศัพท์หมายเลขอื่นๆ หมายถึง การได้รับแจ้งาทางโทรศัพท์หมายเลขอื่นๆ <span style="text-decoration: underline;">นอกเหนือจาก</span> หมายเลข ๑๖๖๙
                    </span><span>
                        (๔)
                        อาการนำสำคัญรหัส ๑๑ เจตนาให้เว้นว่าง
                    </span><span>
                        (๕) รหัสความรุนแรง IDC (Incident Dispatch
                        Code) หมายถึง รหัสที่ได้จากการสอบถามอาการของผู้ป่วยจากผู้แจ้ง
                    </span><span>
                        (๖) รหัสความรุนแรง
                        ณ จุดเกิดเหตุ RC (Response Code) หมายถึง
                        รหัสที่ได้จากการยืนยันอาการของผู้ป่วยจากชุดปฏิบัติการ ณ จุดเกิดเหตุ
                    </span><span>
                        (๗) เรือ ป.๑
                        ป.๒ และ ป.๓ หมายถึง ชุดปฏิบัติการฉุกเฉินเบื้องต้นประเภท หนึ่ง สอง และสาม
                        ตามประเภทชุดปฏิบัติการฉุกเฉินทางน้ำ
                    </span><span>
                        (๘) ลำดับผู้ป่วย หมายถึง
                        ลำดับผู้ป่วยในศูนย์รับแจ้งเหตุและสั่งการ
                    </span>
                </div>
            </div><br><br>
        </div>
    </div><span id="__chakra_env" hidden=""></span>
</div>

<div class="chakra-portal">
    <ul role="region" aria-live="polite" id="chakra-toast-manager-top"
        style="position: fixed; z-index: 5500; pointer-events: none; display: flex; flex-direction: column; margin: 0px auto; top: env(safe-area-inset-top, 0px); right: env(safe-area-inset-right, 0px); left: env(safe-area-inset-left, 0px);">
    </ul>
    <ul role="region" aria-live="polite" id="chakra-toast-manager-top-left"
        style="position: fixed; z-index: 5500; pointer-events: none; display: flex; flex-direction: column; top: env(safe-area-inset-top, 0px); left: env(safe-area-inset-left, 0px);">
    </ul>
    <ul role="region" aria-live="polite" id="chakra-toast-manager-top-right"
        style="position: fixed; z-index: 5500; pointer-events: none; display: flex; flex-direction: column; top: env(safe-area-inset-top, 0px); right: env(safe-area-inset-right, 0px);">
    </ul>
    <ul role="region" aria-live="polite" id="chakra-toast-manager-bottom-left"
        style="position: fixed; z-index: 5500; pointer-events: none; display: flex; flex-direction: column; bottom: env(safe-area-inset-bottom, 0px); left: env(safe-area-inset-left, 0px);">
    </ul>
    <ul role="region" aria-live="polite" id="chakra-toast-manager-bottom"
        style="position: fixed; z-index: 5500; pointer-events: none; display: flex; flex-direction: column; margin: 0px auto; bottom: env(safe-area-inset-bottom, 0px); right: env(safe-area-inset-right, 0px); left: env(safe-area-inset-left, 0px);">
    </ul>
    <ul role="region" aria-live="polite" id="chakra-toast-manager-bottom-right"
        style="position: fixed; z-index: 5500; pointer-events: none; display: flex; flex-direction: column; bottom: env(safe-area-inset-bottom, 0px); right: env(safe-area-inset-right, 0px);">
    </ul>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function (){
            var modelData = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model))';
            //console.log(modelData);

            GetCheckedChannel();
            GetCBDChecked();
            GetCBDColorChecked();
            GetVehicleTypeChecked();

            GetTimeDiffMins1();
            GetTimeDiffMins2();
            GetTimeDiffMins3();

            GetRCState();
            GetServices();
            GetCarOwner();
        });

        function GetCheckedChannel(){
            var modelChannel = '@Html.Raw(Model.sec1.eventChannel)';
            var channles = document.getElementsByName("channel");
            $.each(channles ,(i , ch)=>{
                if(parseInt(modelChannel) == (i + 1)){
                    //console.log(i+1);
                    ch.setAttribute('checked','checked');
                }
            });
        }
        function GetCBDChecked(){
            var cbdcheck = '@Html.Raw(Model.sec2.stateId)';
            var cbd = document.getElementsByName("cbd");
            $.each(cbd, (i, ch) => {
                if (parseInt(cbdcheck) == (i + 1)) {
                    //console.log(i+1);
                    ch.setAttribute('checked', 'checked');
                }
            });
        }
        function GetCBDColorChecked() {
            var cbdcheck = '@Html.Raw(Model.sec4.erId)';
            var cbd = document.getElementsByName("stateColor");
            //const rvcbd = [...cbd].reverse();
            $.each(cbd, (i, ch) => {
                if (parseInt(cbdcheck) == (i + 1)) {
                    ch.setAttribute('checked', 'checked');
                }

            });
        }
        function GetVehicleTypeChecked() {
            var vtcheck = '@Html.Raw(Model.sec5.vehicleTypeId)';
            var vtype = document.getElementsByName("vtype");
            //const rvcbd = [...cbd].reverse();
            $.each(vtype, (i, vt) => {
                if (parseInt(vtcheck) == (i + 1)) {
                    vt.setAttribute('checked', 'checked');
                }

            });
        }
        function GetTimeDiffMins1(){
            var t1 = '@Html.Raw(Model.sec5.time1Call)';
            var t4 = '@Html.Raw(Model.sec5.time4AtPoint)';

            var start = t1.replace('T',' ');
            var end = t4.replace('T', ' ');

            var dateDiff = moment(end).diff(moment(start).format('lll'), 'minutes');

            //console.log('start =>'+ start + ' end =>' + end);
            //console.log('start =>'+ t1 + ' end =>' + t4);
            //console.log(dateDiff);
            $('#resTime').html(dateDiff + ' นาที'); 
            
        }
        function GetTimeDiffMins2(){
            var t5 = '@Html.Raw(Model.sec5.time5OutPoint)';
            var t6 = '@Html.Raw(Model.sec5.time6AtHos)';

            var start = t5.replace('T',' ');
            var end = t6.replace('T', ' ');

            var dateDiff = moment(end).diff(moment(start).format('lll'), 'minutes');

            $('#resTime2').html(dateDiff + ' นาที'); 
            
        }
        function GetTimeDiffMins3(){
            var t6 = '@Html.Raw(Model.sec5.time6AtHos)';
            var t7 = '@Html.Raw(Model.sec5.time7AtBase)';

            var start = t6.replace('T',' ');
            var end = t7.replace('T', ' ');

            var dateDiff = moment(end).diff(moment(start).format('lll'), 'minutes');

            $('#resTime3').html(dateDiff + ' นาที'); 
            
        }
        function GetRCState(){
            //rcState
            var rcCheck = '@Html.Raw(Model.sec6.stateRcMainId)';
            var rcEle = document.getElementsByName("rcState");
            //const rvcbd = [...cbd].reverse();
            $.each(rcEle, (i, rc) => {
                if (parseInt(rcCheck) == (i + 1)) {
                    rc.setAttribute('checked', 'checked');
                }

            });
        }
        function GetServices(){
            //services
            var svCheck = '@Html.Raw(Model.sec7.serviceId)';
            var svEle = document.getElementsByName("services");
            //const rvcbd = [...cbd].reverse();
            var hasService = [1,2,3,4,5];
            $.each(svEle, (i, sv) => {
                if (parseInt(svCheck) == (i + 1)) {
                    sv.setAttribute('checked', 'checked');
                    if((hasService).includes(i+1)){
                        $('#hasService').attr('checked','checked');
                    }
                    else{
                        $('#noService').attr('checked','checked');
                    }
                }

            });
        }
        function GetCarOwner(){
            var idcCode = '@Html.Raw(Model.sec2.stateId)';
            if(idcCode == 25){
                var coCheck = '@Html.Raw(Model.sec9.icarIsOwner)' == null ? 2 : '@Html.Raw(Model.sec9.icarIsOwner)';
                var coEle = document.getElementsByName("isCarOwner");

                $.each(coEle, (i, co) => {
                    if (parseInt(coCheck) == i) {
                        co.setAttribute('checked', 'checked');
                    }
                });
            }
            
        }

    </script>
}