@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

html, body,table {
    font-size: .9rem;
    font-family: 'Sarabun', sans-serif!important;
}
/*html {
  font-size: 14px;
}*/
label{
    font-weight:300!important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
[class*="icheck-"]{
    margin-left:.5rem;
    margin-right:.5rem;
}
.small-box .icon svg{
    font-size:40px!important;
}
/*Side Menu*/
.nav-sidebar .nav-item>.nav-link .right{
    transition:-webkit-tranform ease-in-out .3s;
    transition:transform ease-in-out .3s;
    transition: transform ease-in-out .3s, -webkit-transform ease-in-out .3s;
}
.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right{
    position: absolute;
    right:1rem;
    top:.7rem;
}
.nav-sidebar .menu-is-opening>.nav-link svg.right, .nav-sidebar .menu-open>.nav-link svg.right{
    -webkit-transform : rotate(-90deg);
    transform:rotate(-90deg);
}
.nav-sidebar .nav-treeview{
    padding-left: 1rem!important;
}


#tableOpByPropose thead tr th{
    text-align:center!important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,0)!important;
}
[class*="custom-badge-"] {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color:white!important;
}
.custom-badge-success {
    border: 1px solid green;
    background-color: #28a745 !important;
}
.custom-badge-danger {
    border: 1px solid red;
    background-color: #dc3545 !important;
}
.custom-badge-primary {
    border: 1px solid blue;
    background-color: #007bff !important;
}

/* Pagination */
ul#dup-pagination li a {
    color: black;
    background-color: #dee2e6;
}
    ul#dup-pagination li a:hover {
        background-color: #adb5bd;
    }
ul#dup-pagination li.active a {
    color: #fff;
    background-color: green!important;
    border-color: green!important;
}
ul#dup-pagination li.prev a{
    border-top-left-radius:1rem;
    border-bottom-left-radius:1rem;
}
ul#dup-pagination li.next a {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
/* Pagination */

.select2-selection{
    width:100%!important;
    /*height:21.43px!important;*/
    font-size:.875rem!important;

}
.select2-container{
    width:100%!important;
}
.select2-dropdown .select2-results__options .select2-results__option {
    font-size: .875rem !important;
}
.form-control {
    height: 31.6px !important;
    font-size: .875rem !important;
    padding:0.375rem 0.45rem!important;
}
.input-group-text {
    padding: 0.375rem 0.45rem !important;
}
#opCheckbox{
    width:5%!important;
}
#opDetail, #vicDetail {
    width: 35% !important;
}
#opPrint {
    width: 15% !important;
}
/* Underline doted */
.dotLabel {
    display: inline-block;
    /*margin-left: 5px;
    margin-right: 5px;*/
    margin:0 5px;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px dotted black;
    border-color: #000;
    text-indent: 0;
    line-height: normal;
}
.dotWidth {
    width: 150px;
}
.dotWidth_md{
    width: 180px;
}
.dotWidth_time {
    width: 100px;
}
.dotwidth_70{
    width:70%;
}
/* End Underline doted */

.injured tbody tr td{
    padding:0!important;
}


/* rotate */
aside {
    display: block;
    position: relative;
    /*margin:40px 0;*/
}
    aside .rot90 {
        font-weight: 800;
        font-size: 1rem;
        position: absolute;
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform: rotate(90deg);
        -webkit-transform: rotate(-90deg);
        
    }
        aside .rot90.trauma {
            margin: 30px 0;
        }
        aside .rot90.nonetrauma {
            margin: 50px 0px;
        }
        aside .rot90.treatment {
            margin: 40px 0px;
        }
        aside .rot90.nonetrauma, aside .rot90.treatment {
            width: 100px;
        }
        /* End rotage */
        #operationTimeAndDistant tbody tr td, #GreenOperationTimeAndDistant tbody tr td {
            vertical-align: middle !important;
        }
.form-check-inline{
    margin-right:0.7rem!important;
}
#PinkSec3Sensation .form-check, #PinkSec3SensationLast .form-check, #PinkSec3Sv .form-check {
    padding-left: 1rem !important;
}
#PinkSec3Sensation .form-check-inline, #PinkSec3SensationLast .form-check-inline, #PinkSec3Sv .form-check-inline {
    margin-right: 0rem !important;
}

.duplicate-count{

}
#caseCollapseBtn {
    width:150px;
    height:40px;
    box-shadow: 0px 0px 1px 1px #0000001a;
}
.pulse {
    animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}
/*#BtnExcelModal {
    width: 40px;
}
#BtnExcelModal:hover {
    width: 100px!important;
}*/
/*Spinner*/
.main-spn {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.main-spn div {
    position: absolute;
    top: 33px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--bs-info);
    animation-timing-function: cubic-bezier(0,1,1,0);
}
.main-spn div:nth-child(1){
    left:10px;
    animation: spn1 0.6s infinite;
}
.main-spn div:nth-child(2) {
    left: 10px;
    animation: spn2 0.6s infinite;
}
.main-spn div:nth-child(3) {
    left: 32px;
    animation: spn2 0.6s infinite;
}
.main-spn div:nth-child(4) {
    left: 56px;
    animation: spn3 0.6s infinite;
}

#profileMenu a.dropdown-item:hover {
    background-color: var(--red);
    color:white;
    /*#dc3545*/
}

@keyframes spn1{
    0%{
        transform:scale(0);
    }
    100%{
        transform:scale(1);
    }
}
@keyframes spn3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}
@keyframes spn2 {
    0% {
        transform: translate(0,0);
    }

    100% {
        transform: translate(24px,0);
    }
}
/*Spinner*/

/* File Loader */
.arrow-down{
    --size: 48px;
    --color: #4BB543;
    --animation-timing-function: cubic-bezier(0.85,0,0.15,1);
    --animation-duration: 1s;
    position:relative;
    width:var(--size);
    height:var(--size);
    overflow-y:hidden;
}
.arrow-down::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color:var(--color);
    clip-path: polygon(0% 50%,50% 100%,100% 50%,75% 50%, 75% 0%,25% 0%, 25% 50%,0% 50%);
    transform:translateY(-100%);
    animation: var(--animation-timing-function) var(--animation-duration) infinite arrow-down-animation;
}

@keyframes arrow-down-animation{
    0%{
        transform:translateY(-100%);
    }
    45% {
        transform: translateY(0%);
    }
    55% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

/* File Loader */

/* payment oploader */
.loader {
    width: 21px;
    height: 21px;
    border: 5px dotted #d80000;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} 
/* end payment oploader */


/* progress */

.download-progress-bar_container {
    /*margin: 20px 0;*/
    width: 100%;
    height: 20px;
    background-color: rgb(5, 4, 4);
    /*border-radius: 20px;*/
    box-shadow: 0 0 64px 64px rgba(255, 255, 255, 0.15);
}

.download-progress-bar_progress {
    background: linear-gradient( to right, rgba(51, 139, 147), rgb(182, 244, 146) );
    /*border-radius: 20px;*/
    color: rgb(237, 235, 235);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 100%;
}

    .download-progress-bar_progress.error {
        background: red;
    }
#progressText {
    position:absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}
/* progress */

/*Report Card Style*/
.repItem:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.07);
    background-color: #D9FEEA;
}
/*Report Card Style*/

/* Custom Scrollbar */
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/* Custom Scrollbar */